<div class="wrapper">
    <div class="top">
        <div class="profile-picture" style="background-image: url('../../../assets/images/profile-pic.png')"></div>
        <a href="">Edit</a>
    </div>
    <div class="account">
        <p class="p1">Account</p>
        <div class="email">
            <span>liyi6601@gmail.com</span>
            <button>Change</button>
        </div>   
    </div>
    <div class="name">
        <p class="p1">Name</p>
        <input class="input" type="text" placeholder="Leah">
    </div>
    <div class="password">
        <p class="p1">Password Reset</p>
        <div class="input-wrapper">
            <input class="input" placeholder="current password" [type]="hide ? 'password' : 'text'">
            <div  (click)="myFunction()">
                <mat-icon *ngIf="show">visibility</mat-icon>
                <mat-icon *ngIf="!show">visibility_off</mat-icon>
            </div> 
        </div>
        <div class="input-wrapper">
            <input class="input" type="text" placeholder="new password" [type]="hide1 ? 'password' : 'text'">
            <div  (click)="myFunction1()">
                <mat-icon *ngIf="show1">visibility_off</mat-icon>
                <mat-icon *ngIf="!show1">visibility</mat-icon>
            </div> 
        </div>
        <div class="input-wrapper">
            <input class="input" type="text" placeholder="confirm new password" [type]="hide2 ? 'password' : 'text'">
            <div  (click)="myFunction2()">
                <mat-icon *ngIf="show2">visibility</mat-icon>
                <mat-icon *ngIf="!show2">visibility_off</mat-icon>
            </div> 
        </div>
        <button>Save</button>
    </div>
    <div class="verify">
        <p class="p1">Verify Identity</p>
        <p>secure your account, prove who you are.</p>
        <button>Verify</button>
    </div>
    <div class="bottom">
        <p class="p1">Email And Alerts</p>
        <div class="box">
            <input type="checkbox">
            <span>Job recommendations</span>
        </div>
        <a (click)="openDialog()">close account</a>
    </div>
</div>
