@media (max-width: 768px) {
    .wrapper {
        padding: 40px 16px!important;
        margin: 0 !important;
        width: 100% !important;
        .input {
            width: 100% !important;
        }
    }
}

.wrapper {
    width: 343px;
    margin: 80px auto 0;
    .p1 {
        color:#222222;
        font-weight: 600;
    }
    .input {
        width: 343px;
        height: 56px;
        border-radius: 8px;
        border: 1px solid #e3e3e3;
        margin-bottom: 16px;
    }
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #F4F4F4;
        .profile-picture {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 90% 70%;
            margin-bottom: 16px;
        }
        a {
            font-size: 14px;
            color: #D52B1E;
            text-decoration: underline;
            text-align: center;
            margin-bottom: 40px;
        }
        a:hover {
            color: #F53626;
        }
    }
    .account {
        border-bottom: 1px solid #F4F4F4;
        margin: 24px 0px;
        padding-bottom: 24px;
        .email {
            display: flex;
            justify-content: space-between;
            span {
                color: #333333;
                margin: auto 0;
            }
            button {
                border: 1px solid #f4f4f4;
                border-radius: 24px;
                width: 102px;
                height: 48px;
                background-color: #ffffff;
                color: #222222;
            }
            button:hover {
                background-color: #fafafa;
            }
        }
    }
    .name {
        border-bottom: 1px solid #F4F4F4; 
        padding-bottom: 8px;
        margin-bottom: 24px;
        .input {
            padding-left: 20px;
        }
    }
    .password {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .input-wrapper {
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #e3e3e3;
            height: 56px;
            padding: 0 20px;
            margin-bottom: 16px;
            input {
                height: unset;
                border: none;
                margin: 0;
            }
        }
        button {
            width: 165px;
            height: 48px;
            border-radius: 24px;
            background-color: #222222;
            border: 1px solid #222222;
            color: #ffffff;
            margin: 24px auto 40px;
            cursor: pointer;
        }
    }
    .verify {
        border-bottom: 1px solid #F4F4F4;
        padding: 12px 0 24px;
        margin-bottom: 40px;
        p {
            color: #333333;
        }
        button {
            width: 102px;
            height: 48px;
            border-radius: 24px;
            background-color: #D52B1E;
            color: #ffffff;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #F53626;
        }
    }
    .bottom {
        margin-bottom: 65px;
        .box{
            display: flex;
            flex-direction: row;
            input {
                margin-bottom: 40px;
                width: 24px;
                height: 24px;
                accent-color: #d52b1e;
                outline: 2px solid #d52b1e;
                appearance: none;
                border-radius: 3px;
                cursor: pointer;
            }
            input:checked {
                outline: none;
                appearance: auto;
            }
            span {
                color: #333333;
                padding: 5px 0 0 5px;
            }

        }
            
        a {
            color:#333333;
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
        }
        a:hover {
            color:#222222;
        }
    }
}
mat-icon {
    font-weight: 100;
}