form {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    min-width: 552px;
    min-height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f4f4f4;
        span {
            position: absolute;
            top: 20;
            right: 0;
            cursor: pointer;
        }
        h5 {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #222222;
        }
    }
    .box1 {
        width: 343px;
        height: 30px;
        margin-top: 40px;
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #333333;
            text-align: center;
        }
    }
    .box3 {
        margin: 32px 0 64px;
        width: 343px;
        #wht-btn {
            background-color: #FFFFFF;
            border-radius: 24px;
            color: #222222;
            width: 165px;
            height: 48px;
            border: 1px solid #222222;
            cursor: pointer;
        }
    }
}