<form>
    <div class="header">
        <h5>Send Resume</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="box1">
        <p>Hey, wait.<br>Please create resume first.</p>
    </div>
    <div class="box3">
        <button id="wht-btn">Continue</button>
    </div>
</form>
