@media (max-width: 768px) {
    .header-wrapper {
        display: flex !important;
        padding: 0 16px !important;
    }
    .nav-menu {
        display: flex !important;
        flex:3 !important;
    }
    .nav-header {
        display: flex !important;
        flex: 3 !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        order: 1 !important;
        display: none;
        flex:0 !important;
    }

    .burger {
        display: block !important;
        cursor: pointer;
        // order: 0 !important;
    }

    .pc-menu {
        display: none !important;
    }

    #pc-img {
        display: none !important;
    }
}

.header-wrapper {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 2;
    background-color: #ffffff;
    // border: 1px solid #f4f4f4;

    .logo {
        flex: 1;
        display: flex;
        align-items: center;
        order: 0;

        #pc-img {
            width: 130px;
            cursor: pointer;
        }
    }

        .nav-menu {
    
            .nav-header {
                display: none;
    
                .mobile-logo {

                    img {
                        height: 48px;
                    }
                }
    
                .header-button {
                    button {
                        width: 75px;
                        height: 32px;
                        border-radius: 16.5px;
                        background-color: #D52B1E;
                        border: none;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                }
            }

        .mob-menu {
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            height: 100vh;
            background: #ffffff;
            margin-top: 0;
            z-index: 2;

            button {
                width: 56px;
                height: 32px;
                border-radius: 16.5px;
                background-color: #D52B1E;
                border: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                position: absolute;
                top: -50px;
                right: 30px;
            }

            li {
                display: block;
                height: 64px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #222222;
                border-top: 1px solid #f4f4f4;
                padding: 22px 0;
                width: 100%;
            }


            #red {
                color: #F53626;
            }
        }

        ul {
            list-style: none;
            margin-left: -40px;

            .hover-red:hover {
                color: #F53626 !important;
            }

            li {
                display: inline-block;
                padding-right: 20px;
                margin-left: 40px;

                a {
                    text-decoration: none;
                    font-weight: 500;
                    color: #333333;
                }

                a:hover {
                    color: #999999;
                }

                button {
                    background: #000000;
                    border-radius: 16.5px;
                    color: #FFFFFF;
                    width: 56px;
                    height: 32px;
                    cursor: pointer;
                    border: none;
                }

                option {
                    accent-color: #666666;
                }

                mat-icon>#icon {
                    border-radius: 50%;
                    background-color: #f4f4f4;
                    color: #e3e3e3;
                    align-items: center;
                    height: 32px;
                    width: 32px;
                    text-align: center;
                }
            }
        }

        .notification {
            position: relative;
            top: 6px;
            .transparent{
                color:black;
                background-color: transparent;
            }
            #span {
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: #D52B1E;
                position: absolute;
                top: 3px;
                right: 17px;
                display: block;
            }
        }

    }
}
// DROPDOWN MENU
.box-wrapper {
    position: absolute;
    top: 80px;
    right: 80px;
    width: 375px;
    padding-top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    z-index: 99;

    .box {
        width: 343px;
        height: 64px;
        background-color: #FFFFFF;
        border-bottom: 1px solid #f4f4f4;
        padding: 22px 16px;
        cursor: pointer;
    }

    .box:hover {
        background-color: #fafafa;
    }
}

h3 {
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #333333;
  margin: 0 !important;
}

.user-icon {
  background: #8080801a;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  color: #bebebe;
  cursor: pointer;
}

.post-job mat-icon{
  position: relative;
  top: 6px;
  margin-right: 3px;
}




.post-job-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-icon {
        color: #F53626;
        margin-right: -24px;
    }
}

.job-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-icon {
        margin-right: -24px;
    }
}
mat-expansion-panel{
    box-shadow: none !important;
}

#title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
    margin: auto;
}