<div class="header-wrapper">
  <div class="logo">
    <img id="pc-img" [routerLink]="'home'" src="../../assets/images/logo.png">
  </div>
  <div class="nav-menu">
    <div class="nav-header">
      <div class="hamburger">
        <mat-icon class="burger" (click)="toggleMobMenu()" *ngIf="show">menu</mat-icon>
        <mat-icon class="burger" (click)="toggleMobMenu()" *ngIf="!show">close</mat-icon>
      </div>
      <div class="mobile-logo" *ngIf="show" [hidden]="!preview">
        <img src="../../assets/images/mobile-logo.jpg" alt="">
      </div>
      <div class="header-button" *ngIf="show && role" [hidden]="!preview">
        <button mat-button [routerLink]="'../company/my-posts'">Post Jobs</button>
      </div>
      <div class="header-button" *ngIf="show && !role" [hidden]="!preview">
        <button mat-button [routerLink]="'../teacher/create-edit-resume'">Post Resume</button>
      </div>
      <div *ngIf="show" [hidden]="preview" id="title">
        <p>{{title}}</p>
      </div>
    </div>


    <ul class="mob-menu" [hidden]="mobMenu">
      <button mat-button (click)="openDialog()">Login</button>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <li>Hongik University</li>
        </mat-expansion-panel-header>
        <li><a [routerLink]="'../company/teacher-follows-contact'" (click)="close()">Teacher Follows & Contact</a></li>
        <li><a [routerLink]="'../company/applications'" (click)="close()">Applications</a></li>
        <li *ngIf="role"><a [routerLink]="'../company/my-posts'" (click)="close()">My Posts</a></li>
        <li *ngIf="!role"><a [routerLink]="'../teacher/create-edit-resume'" (click)="close()">My Resumes</a></li>
        <li><a [routerLink]="'../account/account-settings'" (click)="close()">Account Settings</a></li>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle [expanded]="true" (click)="close()">
        <mat-panel-title>
          <li>
            <a class="job-mob" [routerLink]="'company/jobs-list'">
              <p>Jobs</p>
              <mat-icon>chevron_right</mat-icon>
            </a>
          </li>
        </mat-panel-title>
        <mat-panel-title>
          <li>
            <a class="job-mob" [routerLink]="'teacher/teachers-list'">
              <p>Teachers</p>
              <mat-icon>chevron_right</mat-icon>
            </a>
          </li>
        </mat-panel-title>
        <mat-panel-title *ngIf="role">
          <li>
            <a class="post-job-mob" (click)="_appService.createAPost = true" [routerLink]="'../company/post-job'" routerLinkActive="hover-red">
              <p class="post-job">Post Jobs</p>
              <mat-icon>edit_square</mat-icon>
            </a>
          </li>
        </mat-panel-title>
        <mat-panel-title *ngIf="!role">
          <li>
            <a class="post-job-mob" (click)="_appService.isShowForm= false; _appService.isShow= true"
              [routerLink]="'../teacher/create-edit-resume'" routerLinkActive="hover-red">
              <p class="post-job">Post Resume</p>
              <mat-icon>edit_square</mat-icon>
            </a>
          </li>
        </mat-panel-title>
        <mat-panel-title>
          <li><a href="#">Help Center</a></li>
        </mat-panel-title>
        <mat-panel-title>
          <li><a href="#" id="red">About Us ></a></li>
        </mat-panel-title>
      </mat-expansion-panel>

    </ul>


    <!-- PC MENU -->
    <ul class="pc-menu">
      <li><a [routerLink]="'company/jobs-list'">jobs</a></li>
      <li><a [routerLink]="'teacher/teachers-list'">teachers</a></li>
      <li><a href="#">about us</a></li>
      <li>
        <div class="notification">
          <!-- <a href="#">
                      <mat-icon id="notification">notifications</mat-icon>
                  </a>
                  <span id="span"></span> -->
          <button mat-button class="transparent" [matMenuTriggerFor]="menuNotif">
            <mat-icon id="notification">notifications</mat-icon><span id="span"></span>
          </button>
          <mat-menu #menuNotif="matMenu">
            <button mat-menu-item><b>Scott </b>applied your post [Adults ESL training center teacher(shenzhen)]</button>
            <button mat-menu-item><b>Teacher Eva </b>applied your post [Adults ESL training center
              teacher(shenzhen)]</button>
            <button mat-menu-item><b>Jun </b>applied your post [Adults ESL training center teacher(shenzhen)]</button>
            <button mat-menu-item><b>Rick </b>applied your post [Adults ESL training center teacher(shenzhen)]</button>
          </mat-menu>
        </div>
      </li>
      <li *ngIf="role">
        <a class="post-job" (click)="_appService.createAPost = true" [routerLink]="'company/post-job'"
          routerLinkActive="hover-red">
          <mat-icon>edit_square</mat-icon>Post Jobs
        </a>
      </li>
      <li *ngIf="!role">
        <a class="post-job" (click)="_appService.isShowForm= false; _appService.isShow= true"
          [routerLink]="'teacher/create-edit-resume'" routerLinkActive="hover-red">
          <mat-icon>edit_square</mat-icon>Post Resume
        </a>
      </li>
      <li>
        <button mat-button (click)="openDialog()" [hidden]="showLogin">Login</button>
        <span [hidden]="showUser">
          <mat-icon class="user-icon" [matMenuTriggerFor]="menu">landscape</mat-icon>
        </span>
      </li>
    </ul>
  </div>
</div>

<!-- DROPDOWN NAVIGATION MENU -->
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'account/follows-applications'">
    <div class="box">
      <h3>Company Follows & Apply Jobs</h3>
    </div>
  </button>
  <button mat-menu-item [routerLink]="'account/teacher-follows-contact'">
    <div class="box">
      <h3>Teacher Follows & Contact</h3>
    </div>
  </button>
  <button mat-menu-item [routerLink]="'account/positions'">
    <div class="box">
      <h3>Positions</h3>
    </div>
  </button>
  <button *ngIf="role" mat-menu-item [routerLink]="'../company/my-posts'">
    <div class="box">
      <h3>My Posts</h3>
    </div>
  </button>
  <button *ngIf="!role" mat-menu-item [routerLink]="'../teacher/create-edit-resume'">
    <div class="box">
      <h3>My Resume</h3>
    </div>
  </button>
  <button mat-menu-item [routerLink]="'../account/account-settings'">
    <div class="box">
      <h3>Account Settings</h3>
    </div>
  </button>
  <button mat-menu-item>
    <div class="box">
      <h3 (click)="logOut()">Sign Out</h3>
    </div>
  </button>
</mat-menu>