<div id="footer">
    <div id="flex-footer">
        <img class="fb" src="../../assets/images/images (1).png">
        <img class="instagram" src="../../assets/images/free-instagram-icon-2165-thumb.png">
        <img class="linkedin" src="../../assets/images/download (1).png">
        <img class="youtube" src="../../assets/images/download (2).png">
        <img class="tiktok" src="../../assets/images/tiktok-logo-black-mobile-social-media-icon-free-vector.webp">
    
    </div>
    <div id="text-footer"> 
        <p class="footer-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium esse quod temporibus reiciendis veniam sit praesentium cupiditate ab libero quis, amet, deleniti obcaecati!!</p>
    </div>
    <div id="copyright">
        <p class="copyright">copyright © 2008-2021, foreignteachers, Inc. </p>
    </div>
</div>

