@media (max-width: 768px) {
    #footer {
        height: 200px !important;
        // clear: both !important;
        // margin-top: -200px !important;
        // position:relative !important;
        // bottom: 0 !important;
        // width: 100%;
        // z-index: 999999 !important;
    }
}
#footer{
    display: block;
    width: 100%;
    height: 172px;
    padding: 10px;
    background-color: #fafafa;
    position:sticky; 

    #flex-footer{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .fb, .instagram, .linkedin, .youtube, .tiktok{
            height:24px;
            width: 24px;
            background-color: transparent;
            border-radius: 50%;
            margin: 5px;
        }
    }
    #text-footer{
        display: flex;
        justify-content: center;
        padding: 0 30%;
        .footer-text{
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            line-height: 13px;
            color: #999999;
            padding: 10px 0;
            margin: 0px;
        }
    }
    #copyright{
        display: flex;
        justify-content: center;
        .copyright{
            font-size: 11px;
            font-weight: 500;
            font-style: normal;
            line-height: 13px;
            color: #999999;
            padding: 0;
            margin: 0px;
        }
    }

}
