
<form>
    <div class="header">
        <h5>Log In</h5>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <mat-icon>groups</mat-icon>
    <hr class="hr-modal">
    <div class="box1">
        <div class="input-wrapper">
            <img src="../../../assets/images/fb.svg">
            <input class="input1" id="fb" type="text" placeholder="continue with facebook" >
        </div>
        <div class="input-wrapper">
            <img src="../../../assets/images/google.svg" style="height:24px; width:24px">
            <input class="input1" id="google" type="text" placeholder="continue with google">
        </div>
    </div>
    <div class="or">
        <p>or</p>
    </div>
    <div id="error" *ngIf="wrongCredentials">
        <p>The email address and password are invalid.<br>Please try again.</p>
        <span (click)="errorMsg()">X</span>
    </div>
    <div class="box2" [formGroup]="registerForm">
        <input class="input2" id="email" type="email" placeholder="email" formControlName="email">
        <input class="input2" id="pass" type="password" placeholder="password" formControlName="password">
    </div>
    <div class="box3">
        <div class="box3-inner">
            <a (click)="openDialog1()">Forgot password</a>
            <button (click)="clickLogIn()">Log in</button>
        </div>
    </div>
    <div class="footer">
        <p>Don't have an account? <a (click)="openDialog()">Sign up</a></p>
    </div>
</form>

