form {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    min-width: 552px;
    min-height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f4f4f4;
        span {
            position: absolute;
            top: 20;
            right: 0;
            cursor: pointer;
        }
        h5 {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
        }
    }
    .box1 {
        width: 343px;
        height: 45px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        input {
            width: 20px;
            height: 20px;
            accent-color: #d52b1e;
            cursor: pointer;
            appearance: none;
            border-radius: 50%;
            border: 2px solid #d52b1e;
        }
        input:checked {
            appearance: auto;
            border: 2px solid #d52b1e;
        }
        span {
            padding: 3px 0 0 22px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
        }
    }
    .box3 {
        margin: 32px 0 64px;
        width: 343px;
        display: flex;
        justify-content: space-between;
        #red-btn {
            background: #d52b1e;
            border-radius: 24px;
            color: #FFFFFF;
            width: 166px;
            height: 48px;
            border: none;
            cursor: pointer;
        }
        #wht-btn {
            background-color: #Fafafa;
            border-radius: 24px;
            color: #666666;
            width: 165px;
            height: 48px;
            border: 1px solid #f4f4f4;
            cursor: pointer;
        }
    }
}