<form>
    <div class="header">
        <h5>Choose Resume</h5><br>
        <span><mat-icon>close</mat-icon></span>
    </div>
    <div>
        <div class="box1">
            <input type="radio" name="resume" formControlName="resume">
            <span>Teacher Eva</span>
        </div>
    </div>
    
    <div class="box3">
        <button id="wht-btn">Edit resume</button>
        <button id="red-btn">Apply now</button>
    </div>
</form>
