<!--     
    <div id="navbar">
        
        
        <ul>
            <a [routerLink]="'../teacher-follows-contact'" [routerLinkActive]="['active']" (click)="onFollowClick()">Follows</a>
            <a [routerLink]="'../teacher-follows-contact'" [routerLinkActive]="['active']" (click)="onContactsClick()">Contacts</a>
        </ul>
    
   </div>
 
      <hr style="height:0.2px;border-width:0;color:;background-color:#999999;">
    
   <div *ngIf="showFollowContent" id="follow">
    <p>You have 5 saved teachers</p>
    <div id="cards-container">
    <div id="left">
    <div class="card">
            <img src="assets/images/paula.png" alt="">
            <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/paula.png" alt="">
            <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
    <div class="card">
            <img src="assets/images/paula.png" alt="">
            <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
   </div>

   <div id="right">
    <div class="card">
            <img src="assets/images/paula.png" alt="">
        <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
    <div class="card">
            <img src="assets/images/paula.png" alt="">
        <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
   </div>
   </div>
    </div>

    <div *ngIf="showContactContent;" id="contacts">
        <p>You have 6 contacted teachers</p>
        <div id="cards-container">
        <div id="left">
        <div class="card">
            <img src="assets/images/paula.png" alt="">
            <mat-icon id="check">check_circle</mat-icon>
            <div class="card-body">
                <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
                <div id="del">
                    <p id="date">2021-12-3 sent</p>
                    <a href="">Delete</a>
                </div>
                </div>
        </div>
        <div class="card">
            <img src="assets/images/paula.png" alt="">
            <mat-icon id="check">check_circle</mat-icon>
            <div class="card-body">
            <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
            <div id="del">
                <p id="date">2021-12-3 sent</p>
                <a href="">Delete</a>
            </div>
            </div>
    </div>
    <div class="card">
        <img src="assets/images/paula.png" alt="">
        <mat-icon id="check">check_circle</mat-icon>
        <div class="card-body">
        <p>Teacher Eva</p><br>
        <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
        <div id="del">
            <p id="date">2021-12-3 sent</p>
            <a href="">Delete</a>
        </div>
        </div>
    </div>
    </div>

    <div id="right">
        <div class="card">
            <img src="assets/images/paula.png" alt="">
            <mat-icon id="check">check_circle</mat-icon>
            <div class="card-body">
            <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
            <div id="del">
                <p id="date">2021-12-3 sent</p>
                <a href="">Delete</a>
            </div>
            </div>
    </div>
    <div class="card">
        <img src="assets/images/paula.png" alt="">
        <mat-icon id="check">check_circle</mat-icon>
        <div class="card-body">
        <p>Teacher Eva</p><br>
        <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
        <div id="del">
            <p id="date">2021-12-3 sent</p>
            <a href="">Delete</a>
        </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/paula.png" alt="">
        <mat-icon id="check">check_circle</mat-icon>
        <div class="card-body">
        <p>Teacher Eva</p><br>
        <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
        <div id="del">
            <p id="date">2021-12-3 sent</p>
            <a href="">Delete</a>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>




 -->
