
::ng-deep .mat-paginator-page-size{
    display: none !important;
}

::ng-deep .mat-paginator-range-label{
    display: none !important;
}

::ng-deep .mat-tooltip-trigger{
    display: none;
}

::ng-deep .ng-star-inserted {
    box-shadow: none !important;
    color: #222222;
}