@media (max-width: 768px) {
    #job-list-card{
        width: calc(100% - 30px) !important;
    }
    #create-button{
        justify-content:center !important;
    }
    #head{
        display: none !important;
    }
    #avatar{
        padding: 20px !important;
    }
    #saved-jobs{
        background-color: #fafafa !important;
    }
    #wrapper{
        padding: 0 !important;

    }
    #saved-jobs{
        padding: 6px 0px 4px 28px !important;
        .saved-jobs{
            margin: 0 !important;
        }
    }
}
#wrapper{
    padding: 0 48px;
    #head{
        display: block;
        height: 100px;
        border-bottom: 1px solid #f4f4f4;
        #head-flex{
            display: flex;
            padding-top: 56px;
            padding-left: 24px;
            #my-posts{
                padding: 5px 36px;
                border-bottom:2px solid #D52B1E;
                cursor: pointer;
                .my-posts{
                    font-size: 18px;
                    color: #222222;
                    font-weight: 500;
                    line-height: 22px;
                    text-transform: capitalize;
                }
            }
        }
    }
    #totalJobs{
    #saved-jobs{
        display: block;
        padding-top: 8px;
        .saved-jobs{
            color: #666666;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            .red{
                color: #d80000;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    #cf-jobs{
        display: block;
        margin-top: 32px;
        #cf-job-flex{
           display: flex !important;
           flex-direction: row;
           flex-wrap: wrap;
            // width: 100%;
            // height: 100%;
            .holder{
                display: flex;
                width: 50%;
                // width: 100%;
                // padding: 0;
                // margin: 0;
            }
        }
        #job-list-card{
            display: flex;
            width: calc(50% - 30px);
           // border: 1px solid #E3E3E3;
            float: left;
            margin:15px;
            #avatar{
                flex: 1;
                padding: 20px 0px 20px 20px;
                .company-logo{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }
            #job-list-text{
                flex: 8;
                padding: 16px 16px 16px 0px;
                border-bottom: 1px solid #f4f4f4;
                .link{
                    .title{
                        margin: 0 0 24px 0;
                        color: #333333;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: capitalize;
                    }
                }
                .link:hover{
                    text-decoration-line: underline;
                    cursor: pointer;
                }
                .location{
                    margin:0 0 7px 0;
                    color:#666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                .date{
                    margin: 4px 0 0 0;
                    color: #666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                .income{
                    margin: 0 0 2px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                #slide-toggle{
                    position: relative;
                    padding: 0px;
                    .slide{
                        position: absolute;
                        bottom: 7px;
                        right: -10px;
                    }
                }
            }
        }
       // #job-list-card:hover{
       //     box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
       // }
        }
    }
    #create{
        padding: 17px;
            #create-button{
                display: flex;
                justify-content: start;
                #create-btn{
                    padding: 0;
                    float:right;
                    background-color: #ffffff;
                    border-radius: 24px;
                    width: 165px;
                    height: 48px;
                    cursor: pointer;
                    border: 1px solid #D52B1E;
                    position: relative;
                        .create-icon{
                            position: absolute;
                            top: 10px;
                            left: 30px;
                            color: #D52B1E;
                            -webkit-text-stroke: 2px solid #D52B1E;
                        }
                        .create{
                            position: absolute;
                            top: 14px;
                            left:60px;
                            color: #D52B1E;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                        }
            }
        }
    }
    }


:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #00b881 ;

}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white ;}

