<div id="wrapper">
    <div id="head" *ngIf="!this._appService.defaultHeader">
        <div id="head-flex">
            <div id="my-posts">
                <p class="my-posts">My Posts</p>
            </div>
        </div>
    </div>
    <div id="totalJobs">
        <div id="saved-jobs">
            <p class="saved-jobs">You have <span class="red">{{jobs && jobs.length ? jobs.length + ' posted jobs': '0 posted jobs'}}</span></p>
        </div>
        <div id="cf-jobs">
            <div id="cf-job-flex" class="dflex">
                <div class="holder" *ngFor="let job of jobs; let i=index">
                    <div id="job-list-card">
                        <div id="avatar">
                            <img class="company-logo"
                                src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                        </div>
                        <div id="job-list-text">
                            <a class="link">
                                <p class="title" (click)="showPost(jobs, i)"
                                    [routerLinkActive]="['active']">{{job.title}}</p>
                            </a>
                            <p class="location">{{job.region}}</p>
                            <p class="date">01-05-2021</p>
                            <p class="income">{{job.salary}}</p>
                            <div id="slide-toggle">
                                <span class="slide">
                                    <mat-slide-toggle class="slider" [formControl]="toogle"></mat-slide-toggle>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="create">
        <div id="create-button">
            <button id="create-btn" (click)="showForm()">
                <mat-icon class="create-icon">add</mat-icon>
                <span class="create">
                    <p>Create new</p>
                </span>
            </button>
        </div>
    </div>
</div>