<div id="container">
    <div id="banner">
        <div id="intro">
            <p>WHY Foreignteachers Title?</p><br>
            <h1 style="font-weight:bold">Find The Right Job</h1>
            <p>search out job to find an open <br> ESL/EFL position</p>
        </div>
    </div>
    <div id="test">
        <img src="assets/images/female.png" alt="">
    </div>
</div>

<div id="container-section">
    <div id="search-bar">
        <ul>
            <a [routerLink]="'../find-job'" [routerLinkActive]="['active']" routerLinkActive="active">Find Jobs</a>
            <a [routerLink]="'../find-teacher'" [routerLinkActive]="['active']" routerLinkActive="active">Find Teachers</a>
        </ul>
        <div id="btn">
            <div id="src">
                <button id="search-btn">
                    <mat-icon>search</mat-icon>
                    <input type="search" id="job-search" name="search" placeholder="search jobs">
                </button>
            </div>
        </div>
    </div>

    <div id="countries">
        <div id="countries-buttons">
        <button><a href="#">Asia</a></button>
        <select name="all" id="all">
            <option value="1">all</option>
            <option value="2">date added(oldest)</option>
            <option value="3">date added(newest)</option>
        </select>
        <button><a href="#">Taiwan</a></button>
        <button><a href="#">South Korea</a></button>
        <button><a href="#">Thailand</a></button>
        <button><a href="#">Switzerland</a></button>
        </div>
        <div id="loop-icon">
        <mat-icon>loop</mat-icon>
        </div>
    </div>
</div>

<div id="cards-container">
    <div id="left">
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img 
                        [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img 
                        [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                    (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img 
                        [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img 
                        [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img 
                        [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img 
                        [src]="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <mat-icon>school</mat-icon>
                </div>
            <div class="card-body">
                <div class ="icon">
                    <img  
                        [src] ="mark ? 'assets/images/Vector.png' : 'assets/images/red-star.png'" 
                        (click)="MarkIcon()" alt="">
                </div>
                <h2>Adults ESL Training Center Teacher (Shenzhen)</h2>
                <p>taiyuan, china</p>
                <p>01-05-2021</p>
                <p>2,600,00-3,500,00 uSD / Month</p>
            </div>
        </div>
    </div>
</div><br><br>

<div id="white-button">
<button id="see-more">See More ></button>
</div>
<div id="create">
<div id="post-jobs">
<h3 style="font-weight:bold">Post Jobs</h3>
<p>wndadnlandlasndlsndlnlasndlansdlndlansfasdsaddasdsadasdasd</p>
<p>wndadnlandlasndlsndlnlasndlansdlndlans</p>
<p>wndadnlandlasndlsndlnlasndlansdlndlanssadasdasddads</p>
<p>wndadnlandlasndlsndlnlasndlansdlndlans</p>
</div>
</div>

<div id="black-button">
<button id="posting">Create Posting</button>
</div>

<div id="end-container">
    <div id="banner">
        <div id="intro">
            <p>WHY Foreignteachers Title?</p><br>
            <h1 style="font-weight:bold">Find A Teacher</h1>
            <p>search out job to find an open <br> ESL/EFL position</p>
        </div>
    </div>
    <div id="test">
        <img src="assets/images/male.png" alt="">
    </div>
</div>

  