
body {
    overflow: auto;
    box-sizing: border-box;
    // margin: 0px;
    // padding: 0px;
}

#container {
    height: 100vh;
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
}

#banner {
    display: flex;
    flex: 1;
    // justify-content: center;
    align-items: center;
}

#test {
    flex: 1;
    display: flex;
}

#test img {
    width: 950px;
    margin-bottom: 20px;
}

#intro {
    margin-left: 50px;
}

#intro h1{
    font-size: 34px;
}

#intro p{
    font-size: 15px;
}

section {
    flex-direction: column;
}

#container-section {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#search-bar {
    width: 100%;
    background-color:white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin: 0px 20px;
}

ul {
    display: inline-block;
    padding-left: 20px;
}

#search-bar a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

input {
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin-right: 20px;
    margin-top: 6px;
}

ul a {
    font-size: 17px;
}

#countries {
    padding: 6px;
    display: flex;
    padding: 10px 20px 10px;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
    }

#countries button {
    height: 32px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 22.5px;
    background-color: white;
    margin: 6px 4px;
    border: 1px solid #E3E3E3;
}

select {
    border: thin;
}

#countries a {
    text-decoration: none;
    padding: 5px;
    height: 10px;
    color: black;
}

select {
    width: 40px;
    border-radius: 10px;
}

#countries ul {
    padding: 10px;
}

#cards-container {
    display: flex;
    margin-top: 10px;
    padding-right: 24px;
    margin: 0px 20px;

}

.card {
    flex-direction: row;
    height: 166px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    margin-left: 25px;
    justify-content: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.card-body {
    margin-top: 20px;
    margin-left: 80px;
}

#left {
    display: flex;
    background-color:white;
    flex: 1;
    flex-direction: column;
}

#right {
    display: flex;
    background-color:white;
    flex: 1;
    flex-direction: column;
}

#btn {
    display: flex;
    float: right;
    padding: 10px 20px;
        #src {
            display: flex;

                #search-btn {
                    padding: 0;
                    float:right;
                    background-color: white;
                    box-shadow: rgba(20, 20, 85, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                    border-radius: 16.5px;
                    width: 280px;
                    margin-right: 40px;
                    cursor: pointer;
                    border: none;
                    position: relative;
                        .mat-icon{
                            position: absolute;
                            top: 6px;
                            left: 17px;
                        }
                        #job-search{
                            border: none;
                        }
                        input:focus
                        {
                           outline: none;

                        }
                        input::placeholder{
                            color: #E3E3E3;
                        }
                        input:focus::placeholder {
                            color: transparent;
                          }
                    }
            }
}

mat-icon {
    float: right;
}

// .star {
//     display: flex;
//     color: red;
//     float: right;
//     margin-right: 15px;
//     margin-top: 5px;
// }

.icon{
    color: red;
    float: right;
    margin-right: 15px;
    margin-top: 5px;  
}

#see-more {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 343px;
    height: 48px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.school {
    float: left;
    align-items: center;
    color: gray;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:lightgray;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: gray;
    margin-left: 15px;
}

p {
    margin-bottom: 0px;
}

#loop-icon {
    float: right;
    display: flex;
}

#countries-buttons {
    display: flex;
}

#post-jobs {
    margin-left: 30px;
    margin-top: 40px;
}

#posting {
    display: flex;
    width: 343px;
    height: 48px;
    border-radius: 24px;
    margin: 40px 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

#create {
    display: flex;
    margin: 0px 20px;
}

.active {
    font-weight: bold;
    text-decoration: underline !important;
    text-decoration-color: #D52B1E !important;
    text-decoration-thickness: 3px !important;
}

::ng-deep mat-tab-group {
    border-radius: 10px !important;

    mat-ink-bar {
      background-color: #6C2C3D !important;
    }
  }

  #end-container {
    display: none;
}

@media (max-width: 768px) {
    #container{
        display: none;
    }

    #search-bar {
        flex-direction: column;
    }

    #intro h1{
        font-size: 24px;
    }
    
    #intro p{
        font-size: 12px;
    }

    #countries-buttons {
        display: flex;
        flex-wrap: wrap;
       }

       ul {
        margin-right: 50px;
    }

    #countries-buttons {
        display: flex;
        flex-wrap: wrap;
       }

       #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 6px;
        flex-direction: column;
        }

        #end-container {
            display: flex;
        }

        #end-container img {
            width: 100%;
        }

        #white-button {
            display: flex;
            justify-content: space-evenly;
            margin: 0px 40px;
        }

        #see-more {
            width: 100%;
        }

        #black-button {
            display: flex;
            justify-content: space-evenly;
            margin: 0px 5px;
        }

        #posting {
            width: 100%;
        }

        body {
            overflow-x: hidden;
        }

        .card{
            border-left: none;
            border-right: none;
            border-top: none;
        }

        .star{
            margin-top: 100px;
        }

        .icon{
            margin-top: 80;
        }
}

