<form>
    <div class="header">
        <h5>Hey, Wait!</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="box1">
        <p>Are you sure, you want to cancel this application?</p>
    </div>
    <div class="box3">
        <button id="wht-btn">Yes</button>
        <button id="blck-btn" (click)="onNoClick()">No, maybe later</button>
    </div>
</form>
