<div class="container-list">
    <div id="src">
        <div id="src-btn">
            <button id="search-btn">
                <mat-icon class="src-icon">search</mat-icon>
                <input type="search" id="job-search" name="search" placeholder="search jobs">
            </button>
        </div>
    </div>
<!--Ovde moze i so chips with input (x) -->
    <div id="btn-country">
        <div id="btn-wrapper">
            <div id="btns">
                <button id="btn-country-x">Asia<mat-icon id="x">highlight_off</mat-icon></button>
                <button id="job-list-dropdown" >all <mat-icon id="arrow"mat-button [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon></button>
                <mat-menu #menu="matMenu">
                 <button mat-menu-item>date added(oldst)</button>
                 <button mat-menu-item>all</button>
                 <button mat-menu-item>date added(newst)</button>
                </mat-menu>
                <button class="btn-country">Taiyuan</button>
                <button class="btn-country">South Korea</button>
                <button class="btn-country">Thailand</button>
                <button class="btn-country">Switzerland</button> 
            </div>
            <div id="loop">
                <mat-icon class="loop"(click)="refresh()">loop</mat-icon>
            </div>
        </div>
    </div>
    <div id="job-list">
        <div id="content">
           <div id="jobs" >
          <div id="card-holder" class="scrollbar" >
            <div id="job-list-card" *ngFor="let job of jobs; let i=index">
                <div id="avatar">
                    <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                </div>
                <div id="job-list-text" (click)="showDetails(jobs, i)">
                    <p class="title">{{job.title}}</p>
                    <p class="location">{{job.region}}</p>
                    <p class="date">01-05-2021</p>
                    <p class="income">{{job.salary}}</p>
                    <div id="span-star"(click)="show1=!show1">
                        <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                        <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                    </div>  
                </div>
            </div>
          </div>
          <div class="job-holder">
                <app-job-details></app-job-details>
          </div>
        </div> 
      </div>
    </div>
</div>
