.container-list{
    margin: 20px 20px 0 20px;
    padding: 36px;
    #src{
        display: block;
        #src-btn{
            display: flex;
            justify-content: end;
            #search-btn{
                padding: 0;
                float:right;
                background-color: #ffffff;
                box-shadow: rgba(20, 20, 85, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                border-radius: 24px;
                width: 343px;
                height: 48px;
                cursor: pointer;
                border: none;
                position: relative;
                    .src-icon{
                        position: absolute;
                        top: 12px;
                        left: 17px;
                        height: 16px;
                        width: 16px;
                    }
                    #job-search{
                        border: none;
                    }
                    input:focus{
                       outline: none;
                    }
                    input::placeholder{
                        color: #d1d1d1;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    input:focus::placeholder {
                        color: transparent;
                      }
        }
    }
}

#btn-country{
    display: block;
    margin: 20px 0;
    #btn-wrapper{
        display: flex;
        justify-content: space-between;
        #btns{
            #btn-country-x{
                height: 32px;
                width: 73px;
                border-radius: 16px;
                background-color:white ;
                border: 1px solid #f4f4f4;
                margin: 6px 4px;
                text-align: start;
                position: relative;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                line-height: 17px;
                #x{
                 font-size: 16px;
                    color: #E3E3E3;
                    user-select: none;
                    background-repeat: no-repeat;
                    display: inline-block;
                    fill: currentColor;
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    bottom: -2px;
                    right: 0px;
                    cursor:pointer;
                }  
            }
            #btn-country-x:hover{
                background-color: #FAFAFA;
               }
            #job-list-dropdown{
                height: 32px;
                width: 64px;
                border-radius: 16px;
                background-color:white ;
                margin: 6px 4px;
                text-align: start;
                position: relative;
                border: 1px solid #f4f4f4;
                text-decoration-color: #222222;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                line-height: 17px;
                #arrow{
                    right: 3px;
                    user-select: none;
                    background-repeat: no-repeat;
                    display: inline-block;
                    fill: currentColor;
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    bottom: 2px;
                    color: #222222;
                    cursor: pointer;
                }
            } 
            .btn-country{
                height: 32px;
                width: -moz-fit-content;
                width: fit-content;
                border-radius: 16px;
                background-color: white;
                margin: 6px 4px;
                border: 1px solid #f4f4f4;
                }
                .btn-country:hover{
                    background-color: #FAFAFA;
                    border: 1px solid #E3E3E3;
                   }
       }
       #loop{
        .loop{
            cursor: pointer;
            width: 16px;
            height: 22px;
            color: #222222;
        }
       margin-top: 16px;
       margin-right: 4px;
        }
    }
 }
}
#job-list{
    display: block;
    #content{
        flex: auto;
        display: flex;
        #jobs{
            flex: auto;
            display: flex;
            // overflow-y: scroll; 
            #card-holder{
                display: flex;
                flex-direction: column;
                #job-list-card{
                    display: flex;
                    // flex:auto;
                    height: 152px;
                    #avatar{
                        flex: 1;
                        padding: 20px 0px 20px 20px;
                        .company-logo{
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                        }
                    }
                    #job-list-text{
                        flex: 6; 
                       // border-top: 1px solid #E3E3E3;
                        border-bottom: 1px solid #f4f4f4;
                        padding: 16px 16px 16px 0px;
                        .title{
                            margin: 0 0 24px 0;
                            color: #333333;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            text-transform: capitalize;
                            cursor: pointer;
                        }
                        .location{
                            margin:0 0 7px 0;
                            color: #666666;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                        }
                        .date{
                            margin: 4px 0 0 0;
                            color: #666666;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                        }
                        .income{
                            margin: 0 0 2px 0;
                            color: #333333;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                        }
                        #span-star{
                            position: relative;
                            .star{
                                position: absolute;
                                bottom: 8px;
                                right: -12px;
                                .grade{
                                    color:#f4f4f4;
                                    /* fill: transparent; */
                                    -webkit-text-fill-color: transparent;
                                    -webkit-text-stroke: 2px;
                                    margin-left: 24px;
                                    cursor: pointer;
                                }
                                // .grade{
                                //     &:hover {
                                //       color:#D52B1E;
                                //       -webkit-text-fill-color: #D52B1E;
                                //     }
                                //   }
                                .grade-red{
                                    color: #D52B1E;
                                    /* fill: transparent; */
                                    -webkit-text-fill-color: #D52B1E;
                                    -webkit-text-stroke: 2px;
                                     //za border na zvezdata
                                   // -webkit-text-stroke:thin;
                                    margin-left: 24px;
                                    
                                    cursor: pointer; 
                                }
                            }
                        }
                    }
                }
                #job-list-card:hover{
                    border-left: 2px solid #f53626;
                    background-color: rgb(253, 235, 238);
                }
            }
            .job-holder { 
                flex: 5;
            }
        }
    }
}
.scrollbar{
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

