@media (max-width: 768px) {
    #job-list-card{
        width: calc(100% - 30px) !important;
    }
    #create-button{
        justify-content:center !important;}
}
#wrapper{
    padding: 0 48px;
    #head{
        display: block;
        height: 100px;
        border-bottom: 1px solid #e3e3e3;
        #head-flex{
            display: flex;
             padding-top: 56px;
            padding-left: 24px;
            #my-posts{
                padding: 6px 36px;
                border-bottom:2px solid #D52B1E;
                cursor: pointer;
                .my-posts{
                    font-size: larger;
                    color: #222222;
                }
            }
        }
    }
    #totalJobs{
    #saved-jobs{
        display: block;
        padding-top: 8px;
        .saved-jobs{
            color: #666666;
            .red{
                color: #d52b1e;
            }
        }
    }
    #cf-jobs{
        display: block;
        margin-top: 32px;
        #cf-job-flex{
           display: flex !important;
            width: 100%;
            height: 100%;
            .holder{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
        #job-list-card{
            display: flex;
            width: calc(50% - 30px);
           // border: 1px solid #E3E3E3;
            float: left;
            margin:15px;
            #avatar{
                flex: 1;
                padding: 16px 0px 16px 16px;
                .company-logo{
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }
            #job-list-text{
                flex: 8;
                padding: 16px;
                border-bottom: 1px solid #e3e3e3;
                .link{
                    .title{
                        margin: 0 0 24px 0;
                        color: #222222;
                    }
                }
                .link:hover{
                    text-decoration-line: underline;
                    cursor: pointer;
                }
                .location{
                    margin:0 0 7px 0;
                    color:#666666
                }
                .date{
                    margin: 4px 0 0 0;
                    color: #666666;
                }
                .income{
                    margin: 0 0 2px 0;
                    color: #333333;
                }
                #slide-toggle{
                    position: relative;
                    padding: 0px;
                   
                    .slide{
                        position: absolute;
                        bottom: 7px;
                        right: -10px;
                    }
                }
            }
        }
       // #job-list-card:hover{
       //     box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
       // }
        }
    }
    #create{
        padding: 17px;
            #create-button{
                display: flex;
                justify-content: start;
                #create-btn{
                    padding: 0;
                    float:right;
                    background-color: white;
                    border-radius: 22.5px;
                    width: 178px;
                    height: 42px;
                    cursor: pointer;
                    border: 1px solid #D52B1E;
                    position: relative;
                        .mat-icon{
                            position: absolute;
                            top: 9px;
                            left: 33px;
                            color: #D52B1E;
                        }
                        .create{
                            position: absolute;
                            top: 13px;
                            left:65px;
                            color: #D52B1E;
                        }
            }
        }
    }
    }


:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6 ;

}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white ;}

@media (max-width:768px){
    #job-list-card{ 
    width: calc(100% - 30px);
}
}
