<!-- <div id="wrapper">
    <div id="head">
        <div id="head-flex">
            <div id="my-posts">
                <p class="my-posts">My Posts</p>
            </div> 
        </div>
    </div>
    <div id="totalJobs" >
        <div id="saved-jobs">
            <p class="saved-jobs">You have <span class="red">4</span> posted jobs</p>
        </div>
        <div id="cf-jobs">
            <div id="cf-job-flex" class="dflex" >
                <div class="holder">
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                       <a class="link"><p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p></a> 
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month 
                        </p>
 
                        <div id="slide-toggle">
                            <span class="slide"><mat-slide-toggle class="slider"></mat-slide-toggle></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                       <a class="link"><p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p></a> 
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month 
                        </p>
                        <div id="slide-toggle">
                            <span class="slide"><mat-slide-toggle class="slider"></mat-slide-toggle></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                       <a class="link"><p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p></a> 
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month 
                        </p>
                        <div id="slide-toggle">
                            <span class="slide"><mat-slide-toggle class="slider"></mat-slide-toggle></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                       <a class="link"><p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p></a> 
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month 
                        </p>
                        <div id="slide-toggle">
                            <span class="slide"><mat-slide-toggle class="slider"></mat-slide-toggle></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="create">
        <div id="create-button">
            <button id="create-btn">
                <mat-icon>add</mat-icon>
               <span class="create"><p>Create new</p></span>
            </button>
        </div>
    </div>
</div>
 -->
