<div id="wrapper">
    <!-- <div id="head">
        <div id="head-flex">
            <div id="follows" (click)="onClickFollows()"><p class="follows">Follows</p></div>
            <div id="applications"><p class="applications">Applications</p></div>
        </div>
    </div> -->
    <!-- <div id="totalJobs" *ngIf="totalJobs"> -->
    <div id="totalJobs" >

        <div id="saved-jobs">
            <p class="saved-jobs">You have <span class="red">5</span> saved jobs</p>
        </div>
        <div id="cf-jobs">
            <div id="cf-job-flex" class="dflex" >
                <div class="holder">
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month
                        </p>
                        <div id="span-star"(click)="show1=!show1">
                            <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                            <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month
                        </p>
                        <div id="span-star">
                            <span class="star"><mat-icon class="grade">grade</mat-icon></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month
                        </p>
                        <div id="span-star">
                            <span class="star"><mat-icon class="grade">grade</mat-icon></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month
                        </p>
                        <div id="span-star">
                            <span class="star"><mat-icon class="grade">grade</mat-icon></span>
                        </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                        <p class="location">taiyuan,china</p>
                        <p class="date">01-05-2021</p>
                        <p class="income">2,600,00-3,500,00 uSD / Month
                        </p>
                        <div id="span-star">
                            <span class="star"><mat-icon class="grade">grade</mat-icon></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
