@media (max-width: 768px) {
    #job-list-card{
        width: calc(100% - 30px) !important;
    }
    #avatar{
        padding: 20px !important;
    }
}
#wrapper{
    padding: 0 48px;
    #head{
        display: block;
        height: 100px;
        border-bottom: 1px solid #f4f4f4;
        #head-flex{
            display: flex;
            padding-top: 56px;
            padding-left: 24px;
            #follows{
                padding: 5px 36px;
                border-bottom:2px solid #D52B1E;
                cursor: pointer;
                .follows{
                    font-size: larger;
                }
            }
            #applications{
                padding: 5px 36px;
                cursor: pointer;
                .applications{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    text-transform: capitalize;
                    color: #222222;
                }
            }

        }
    }
    #totalJobs{
    #saved-jobs{
        display: block;
        padding-top: 8px;
        .saved-jobs{
            color: #666666;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            .red{
                color: #D80000;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    #cf-jobs{
        display: block;
        margin-top: 32px;
        #cf-job-flex{
           display: flex !important;
            width: 100%;
            height: 100%;
            .holder{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
        #job-list-card{
            display: flex;
            width: calc(50% - 30px);
            border: 1px solid #f4f4f4;
            float: left;
            margin:15px;
            border-radius: 5px;
            #avatar{
                flex: 1;
                padding: 20px 0px 20px 20px;
                .company-logo{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }
            #job-list-text{
                flex: 8;
                padding: 16px 16px 16px 0px;
                .title{
                    margin: 0 0 24px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: capitalize;
                }
                .location{
                    margin:0 0 7px 0;
                    color: #666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                .date{
                    margin: 4px 0 0 0;
                    color: #666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                .income{
                    margin: 0 0 2px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                #span-star{
                    position: relative;
                    .star{
                        position: absolute;
                        bottom: 76px;
                        right: 6px;
                        .grade{
                            color:#E3E3E3;
                            /* fill: transparent; */
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 2px;
                            //za border na zvezdata
                           // -webkit-text-stroke:thin;
                            margin-left: 24px;
                            cursor: pointer;
                        }
                        
                        // .grade{
                        //     &:hover {
                        //       color:#D52B1E;
                        //       -webkit-text-fill-color: #D52B1E;
                        //     }
                        //   }
                          .grade-red{
                            color: #D52B1E;
                            /* fill: transparent; */
                            -webkit-text-fill-color: #D52B1E;
                            -webkit-text-stroke: 2px;
                             //za border na zvezdata
                           // -webkit-text-stroke:thin;
                            margin-left: 24px;
                            
                            cursor: pointer; 
                        }  
                    }
                }

            }
        }
        #job-list-card:hover{
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        }
        }
    }
}



