.mat-dialog-container { 
    max-width: 600px !important; 
}

form {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    input:focus{
        outline: none;
        border: 1px solid #222222!important;
    }
    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            position: absolute;
            top: 20;
            right: 0;
            cursor: pointer;
        }
        h5 {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #222222;
        }
    }

    .hr-modal {
        background-color: #F4F4F4;
        height: 1px;
        border: none;
        position: absolute;
        width: 100%;
    }
    .box1{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-wrapper {
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #e3e3e3;
            height: 56px;
            padding: 0 20px;
            margin-bottom: 16px;
            width: 343px;
            background: #FFFFFF;
            border-radius: 28px;
            input {
                border: none !important;
                margin: 0 !important;
                text-align: center;
            }
        }
        .input-wrapper:hover {
            border: 1px solid #222222;
        }
        .input-wrapper:focus-within {
            outline: none;
            border: 1px solid #222222!important;
        }
        #fb {
            margin-bottom: 20px;
        }
    }
    .or {
        margin: 0 auto;
        max-width: 340px;
        p {
            text-align: center;
            position: relative;;
        }
        p:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 1px;
            background: #F4F4F4;
            display: block;
            width: 150px;
        }
        p:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            height: 1px;
            background: #F4F4F4;
            display: block;
            width: 150px;
        }
    }
    .box2{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .input2 {
            box-sizing: border-box;
            width: 343px;
            height: 56px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            border-radius: 8px;
            display: block;
            padding: 0 20px;
        }
        .input2:hover {
            border: 1px solid #222222;
        }
        #email {
            margin-bottom: 20px;
        }
    }
    .terms {
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #666666;
            a{
                color: #222222;
            }
        }
    }
    .box3 {
        padding: 0px 0px 40px;
        a {
            color: #333333;
            margin: auto;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
                        }
        button {
            background: #222222;
            border-radius: 24px;
            color: #FFFFFF;
            width: 197px;
            height: 48px;
            cursor: pointer;
            border: none;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #666666;
            padding-top: 10px;
        }
        a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #0076E2;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .footer {
        border-top: 1px solid #F4F4F4;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #666666;
        }
        a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #0076E2;
            text-decoration: underline;
            cursor: pointer;
        }
}
}
.role {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .teacher, .company {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}
