<form>
    <div class="header">
        <h5>Sign Up</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="box1">
        <div class="input-wrapper">
            <img src="../../../assets/images/fb.svg">
            <input class="input1" id="fb" type="text" placeholder="continue with facebook" >
        </div>
        <div class="input-wrapper">
            <img src="../../../assets/images/google.svg" style="height:24px; width:24px">
            <input class="input1" id="google" type="text" placeholder="continue with google">
        </div>
    </div>
    <div class="or">
        <p>or</p>
    </div>
   
    <div class="box2" [formGroup]="registerForm">
        <div class="role">
            <div class="teacher">
                <input type="radio" name="role" value="teacher" formControlName="role">
                <label for="role">teacher</label>
            </div>
            <div class="company">
                <input type="radio" name="role" value="company" formControlName="role">
                <label for="role">company</label>
            </div>
        </div>
        <input class="input2" id="email" type="email" placeholder="email" formControlName="email">
        <input class="input2" id="pass" type="password" placeholder="password(at least 8 characters)" formControlName="password">
    </div>
    <div class="terms">
        <p>By continuing, you agree to our <a href="#">Terms of service</a> and <a href="#">privacy policy.</a></p>
    </div>
    <div class="box3">
        <button (click)="saveData()">sign up</button>
    </div>
    <div class="footer">
      <p *ngIf="test != null">successful registration, please <a (click)="openDialog()">log in</a></p>
      <p *ngIf="!test">Already have an account? <a (click)="openDialog()">log in</a></p>
    </div>
</form>
