<div id="container">
    <div id="banner">
        <div id="intro">
            <p>WHY Foreignteachers Title?</p><br>
            <h1 style="font-weight:bold">Find A Teacher</h1>
            <p>search out job to find an open <br> ESL/EFL position</p>
        </div>
    </div>
    <div id="test">
        <img src="assets/images/male.png" alt="">
    </div>
</div>

<div id="container-section">
    <div id="search-bar">
        <ul>
            <a class="link1" [routerLink]="'../find-job'" [routerLinkActive]="['active']" routerLinkActive="active">Find Jobs</a>
            <a class="link2" [routerLink]="'../find-teacher'" [routerLinkActive]="['active']" routerLinkActive="active">Find Teachers</a>
        </ul>
        <div id="btn">
            <div id="src">
                <button id="search-btn">
                    <mat-icon>search</mat-icon>
                    <input type="search" id="job-search" name="search" placeholder="search teachers">
                </button>
            </div>
        </div>
    </div>

    <div id="countries">
        <div id="countries-buttons">
        <button><a href="#">IELTS</a></button>
        <button><a href="#">TEFL certificate</a></button>
        <button><a href="#">kid's courses</a></button>
        <button><a href="#">kid's phonics</a></button>
        <button><a href="#">systemic learning</a></button>
        <button><a href="#">TOEFL ITP</a></button>
        <button><a href="#">GEPT high-intermediate</a></button>
        <button><a href="#">business english</a></button>
        <button><a href="#">interviews</a></button>
        </div>
        <div id="loop-icon">
        <mat-icon>loop</mat-icon>
        </div>
    </div>
</div>

<div id="cards-content">
    <div id="cards-container">
        <div class="card">
            <div class="card-body">
            <img src="assets/images/school1.jfif" alt="">
            <div class="teacher-intro">
                <h4>Teacher Eva</h4> 
                <img
                 [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
                 (click)="MarkIcon()" alt="">
            </div>
            <p>8yrs Teaching Experience</p>
            <p>TEFL Certified With 4years</p>
            <p>Experience Experience...</p><br>
            <button><a href="#">Business English</a></button>
            <button><a href="#">Daily English</a></button><br><br>
            <button><a href="#">IELTS</a></button>
            <button><a href="#">Interview</a></button>
        </div>
        </div>
<div class="card">
    <div class="card-body">
    <img src="assets/images/school2.png" alt="">
    <div class="teacher-intro">
        <h4>Teacher Eva</h4> 
        <img
         [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
         (click)="MarkIcon()" alt="">
    </div>
    <p>8yrs Teaching Experience</p>
    <p>TEFL Certified With 4years</p>
    <p>Experience Experience...</p><br>
    <button><a href="#">Business English</a></button>
    <button><a href="#">Daily English</a></button><br><br>
    <button><a href="#">IELTS</a></button>
    <button><a href="#">Interview</a></button>
</div>
</div>
<div class="card">
    <div class="card-body">
    <img src="assets/images/school3.jfif" alt="">
    <div class="teacher-intro">
        <h4>Teacher Eva</h4> 
        <img
         [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
         (click)="MarkIcon()" alt="">
    </div>
    <p>8yrs Teaching Experience</p>
    <p>TEFL Certified With 4years</p>
    <p>Experience Experience...</p><br>
    <button><a href="#">Business English</a></button>
    <button><a href="#">Daily English</a></button><br><br>
    <button><a href="#">IELTS</a></button>
    <button><a href="#">Interview</a></button>
</div>
</div>
<div class="card">
    <div class="card-body">
    <img src="assets/images/school4.png" alt="">
    <div class="teacher-intro">
        <h4>Teacher Eva</h4> 
        <img
         [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
         (click)="MarkIcon()" alt="">
    </div>
    <p>8yrs Teaching Experience</p>
    <p>TEFL Certified With 4years</p>
    <p>Experience Experience...</p><br>
    <button><a href="#">Business English</a></button>
    <button><a href="#">Daily English</a></button><br><br>
    <button><a href="#">IELTS</a></button>
    <button><a href="#">Interview</a></button>
</div>
</div>
<div class="card">
    <div class="card-body">
    <img src="assets/images/school5.png" alt="">
    <div class="teacher-intro">
        <h4>Teacher Eva</h4> 
        <img
         [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
         (click)="MarkIcon()" alt="">
    </div>
    <p>8yrs Teaching Experience</p>
    <p>TEFL Certified With 4years</p>
    <p>Experience Experience...</p><br>
    <button><a href="#">Business English</a></button>
    <button><a href="#">Daily English</a></button><br><br>
    <button><a href="#">IELTS</a></button>
    <button><a href="#">Interview</a></button>
</div>
</div>
</div>


<div id="cards-container">
    <div class="card">
        <div class="card-body">
        <img src="assets/images/school2.png" alt="">
        <div class="teacher-intro">
            <h4>Teacher Eva</h4> 
            <img
             [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
             (click)="MarkIcon()" alt="">
        </div>
        <p>8yrs Teaching Experience</p>
        <p>TEFL Certified With 4years</p>
        <p>Experience Experience...</p><br>
        <button><a href="#">Business English</a></button>
        <button><a href="#">Daily English</a></button><br><br>
        <button><a href="#">IELTS</a></button>
        <button><a href="#">Interview</a></button>
    </div>
    </div>
<div class="card">
<div class="card-body">
<img src="assets/images/school2.png" alt="">
<div class="teacher-intro">
    <h4>Teacher Eva</h4> 
    <img
     [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
     (click)="MarkIcon()" alt="">
</div>
<p>8yrs Teaching Experience</p>
<p>TEFL Certified With 4years</p>
<p>Experience Experience...</p><br>
<button><a href="#">Business English</a></button>
<button><a href="#">Daily English</a></button><br><br>
<button><a href="#">IELTS</a></button>
<button><a href="#">Interview</a></button>
</div>
</div>
<div class="card">
<div class="card-body">
<img src="assets/images/school2.png" alt="">
<div class="teacher-intro">
    <h4>Teacher Eva</h4> 
    <img
     [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
     (click)="MarkIcon()" alt="">
</div>
<p>8yrs Teaching Experience</p>
<p>TEFL Certified With 4years</p>
<p>Experience Experience...</p><br>
<button><a href="#">Business English</a></button>
<button><a href="#">Daily English</a></button><br><br>
<button><a href="#">IELTS</a></button>
<button><a href="#">Interview</a></button>
</div>
</div>
<div class="card">
<div class="card-body">
<img src="assets/images/school2.png" alt="">
<div class="teacher-intro">
    <h4>Teacher Eva</h4> 
    <img
     [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
     (click)="MarkIcon()" alt="">
</div>
<p>8yrs Teaching Experience</p>
<p>TEFL Certified With 4years</p>
<p>Experience Experience...</p><br>
<button><a href="#">Business English</a></button>
<button><a href="#">Daily English</a></button><br><br>
<button><a href="#">IELTS</a></button>
<button><a href="#">Interview</a></button>
</div>
</div>
<div class="card">
<div class="card-body">
<img src="assets/images/school2.png" alt="">
<div class="teacher-intro">
    <h4>Teacher Eva</h4> 
    <img
     [src]=" mark ? 'assets/images/Vector_heart.png' : 'assets/images/red_heart.png'" 
     (click)="MarkIcon()" alt="">
</div>
<p>8yrs Teaching Experience</p>
<p>TEFL Certified With 4years</p>
<p>Experience Experience...</p><br>
<button><a href="#">Business English</a></button>
<button><a href="#">Daily English</a></button><br><br>
<button><a href="#">IELTS</a></button>
<button><a href="#">Interview</a></button>
</div>
</div>
</div>
</div>

<div id="see">
<button id="see-more">See More ></button>
</div>

<div id="jobs">
<div id="post-jobs">
<h3 style="font-weight:bold">Post Jobs</h3>
<p>wndadnlandlasndlsndlnlasndlansdlndlansfasdsaddasdsadasdasd</p>
<p>wndadnlandlasndlsndlnlasndlansdlndlans</p>
<p>wndadnlandlasndlsndlnlasndlansdlndlanssadasdasddads</p>
<p>wndadnlandlasndlsndlnlasndlansdlndlans</p>
</div>
</div>
<div id="black-button">
<button id="posting">Create Posting</button>
</div>

<div id="end-container">
    <div id="banner">
        <div id="intro">
            <p>WHY Foreignteachers Title?</p><br>
            <h1 style="font-weight:bold">Find The Right Job</h1>
            <p>search out job to find an open <br> ESL/EFL position</p>
        </div>
    </div>
    <div id="test">
        <img src="assets/images/female.png" alt="">
    </div>
</div>
