
body {
    overflow: auto;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
}

#banner {
    display: flex;
    flex: 1;
    // justify-content: center;
    align-items: center;
}

#test {
    flex: 1;
    display: flex;
}

#test img {
    width: 950px;
    margin-bottom: 20px;
}

#intro {
    margin-left: 50px;
}

#intro h1{
    font-size: 34px;
}

#intro p{
    font-size: 15px;
}

section {
    flex-direction: column;
}

#container-section {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#search-bar {
    width: 100%;
    background-color:white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

ul {
    display: inline-block;
    padding-left: 20px;
}

#search-bar a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

input {
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin-right: 20px;
    margin-top: 6px;
}

ul a {
    font-size: 17px;
}

#countries {
    padding: 6px;
    display: flex;
    padding: 10px;
    position: relative;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}

#countries button {
    height: 32px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 22.5px;
    background-color: white;
    margin: 6px 4px;
    border: 1px solid #E3E3E3;
}

#loop-button {
    text-decoration: none;
    border: none;
}

#countries a {
    text-decoration: none;
    padding: 5px;
    height: 10px;
    color: black;
}

select {
    width: 40px;
    border-radius: 10px;
}

#countries ul {
    padding: 10px;
}

#btn{
    display: flex;
    float: right;
    padding: 10px 20px;
        #src{
            display: flex;

                #search-btn{
                    padding: 0;
                    float:right;
                    background-color: white;
                    box-shadow: rgba(20, 20, 85, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                    border-radius: 16.5px;
                    width: 280px;
                    margin-right: 40px;
                    cursor: pointer;
                    border: none;
                    position: relative;
                        .mat-icon{
                            position: absolute;
                            top: 6px;
                            left: 17px;
                        }
                        #job-search{
                            border: none;
                        }
                        input:focus
                        {
                           outline: none;

                        }
                        input::placeholder{
                            color: #E3E3E3;
                        }
                        input:focus::placeholder {
                            color: transparent;
                          }
                    }
            }
}


    #cards-container {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        margin: 0px 20px;
        cursor: pointer;
    }

    .card {
        height: 400px;
        width: 240px;

    }

.card-body img {
    width: 100%;
    height: 150px;
}

.teacher-intro {
    display: flex;
    justify-content: space-between;
}

.teacher-intro img {
    width: 20px;
    height: 20px;
}

.card-body .mat-icon {
    color: #F53626;
}

.card-body p {
    margin-bottom: 0px;
}

.card-body button {
    border-radius: 14px;
    margin: 0 4px;
    background-color: #fafafa;
    border: thick;
    fill: #fafafa
}

.card-body a {
    text-decoration: none;
    color: black;
}

#post-jobs {
    margin-left: 45px;
    margin-top: 40px;
}

#posting {
    display: flex;
    width: 343px;
    height: 48px;
    border-radius: 24px;
    margin: 40px 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

#see-more {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 343px;
    height: 48px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#post-jobs p {
margin-bottom: 0px;
}

.active {
    font-weight: bold;
    text-decoration: underline !important;
    text-decoration-color: #D52B1E !important;
    text-decoration-thickness: 3px !important;
}

#end-container {
    display: none;
}

@media (max-width: 768px) {
    #container{
        display: none;
    }

    #search-bar {
        flex-direction: column;
    }

    #countries-buttons {
     display: flex;
     flex-wrap: wrap;
    }

    .teacher-intro img {
        width: 20px;
        height: 20px;
    }

    #intro h1{
        font-size: 24px;
    }
    
    #intro p{
        font-size: 12px;
    }

    #cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin: 0px 6px;
    overflow-x: hidden;
    padding: 0px;
    }

    #cards-content {
        display: flex;
        overflow-x: hidden;
    }

    .card {
        width: 100%;
    }

    // .card-body img {
    //     height: 125px;
    //     width: 100%;
    // }

    #posting {
        display: flex;
        margin-top: 50px;
        width: 100%;
        height: 48px;
        border-radius: 24px;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        background-color: black;
        color: white;
    }

    #see-more {
        display: flex;
        margin: auto;
        margin-top: 7px;
        width: 100%;
        height: 48px;   
        border-radius: 24px;
        justify-content: center;
        align-items: center;
    }

    #jobs {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px 0px;

    }

    #see {
        margin: 1px 30px;
    }

    #black-button {
        margin: 1px 30px;
    }

    ul{
        margin-right: 50px;
    }

    #end-container {
        display: flex;
    }

    #end-container img {
        width: 100%;
    }
}


