#contacts-container{
    display: flex;
    margin: 55px 20px;
    
}

#navbar{
    display: flex;
    margin-top: 35px;
    
}

ul a{
    text-decoration: none;
    margin: 0px 45px;
    font-size: 18px;
    color: black;
}

p{
    padding-left:30px;
    font-size: 14px;
}

#cards-container{
    display: flex;
    margin-top: 55px;
    padding: 10px 40px;
}

.card{
    height: 170px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    margin-left: 25px;
    justify-content: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.card-body{
    margin-left: 80px;
}

#left{
    display: flex;
    background-color:white;
    flex: 1;
    flex-direction: column;
}

#right{
    display: flex;
    background-color:white;
    flex: 1;
    flex-direction: column;
}

.card-body p{
    margin-bottom: 0px;
}

.heart{
    display: flex;
    color:#D52B1E;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.card-body button{
    text-decoration: none;
    color: black;
    margin: 20px 5px;
    border-radius: 16px;
    border: none;
}

.card-body a{
    text-decoration: none;
    color: black;
}

.card img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    float: left;
    display: flex;
    margin-top: 33px;
    margin-left: 15px;
}

#date{
    color: #999999;
}

#check{
    color: #00B881;
    position: relative;
    right: 18px;
    background-color: white;
    border-radius: 50%;
    top: 35px;
}

#del{
    display: flex;
    justify-content: space-between;
}

#del a {
    padding-right: 10px;
    color: #999999;
    text-decoration: underline;
}

#del a:hover{
    color: #D52B1E;
}

#follow .card-body{
    margin-top: 30px;
}

#follow .card img{
    margin-bottom: 50px;
}

.active{
    font-weight: bold;
    text-decoration: underline !important;
    text-decoration-color: #D52B1E !important;
    text-decoration-thickness: 4px !important;
}

.number{
    margin-top: 10px;
}

.number span{
    color: #D52B1E;
}

@media (max-width: 768px){
    
    #cards-container{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .card{
        height: 235px;
        border-left: none;
        border-right: none;
        border-top: none;
        
    }
}