<div id="follow">
    <p class="number">You have <span>5</span>  saved teachers</p>
    <div id="cards-container">
    <div id="left">
    <div class="card">
            <img src="assets/images/paula.png" alt="">
            <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/paula.png" alt="">
            <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
    <div class="card">
            <img src="assets/images/paula.png" alt="">
            <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
   </div>

   <div id="right">
    <div class="card">
            <img src="assets/images/paula.png" alt="">
        <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
    <div class="card">
            <img src="assets/images/paula.png" alt="">
        <div class="card-body">
            <mat-icon class="heart">favorite</mat-icon>
           <p>Teacher Eva</p><br>
            <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p>
                <button><a href="#">business english</a></button>
                <button><a href="#">Daily English</a></button>
                <button><a href="#">interview</a></button>
                <button><a href="#">IELTS</a></button>
        </div>
    </div>
   </div>
   </div>
    </div>