@media (max-width: 768px) {
    #job-list-card{
       width: calc(100% - 30px) !important;
    }
    #span-cancel{
        width:100%!important;
    }
    .cancel-app{
        position: absolute !important;
        bottom: 0px !important;
        justify-content: center !important;
        display: contents !important;
    }
    .cancel-btn{
        width: 100% !important;
    }
 
    #job-list-card{
        width: 100% !important;
        #job-list-text{
            width: 100% !important;
            display: inline-block;
            .add-text{
                // display: -webkit-box !important;
                // -webkit-line-clamp: 3 !important;
                // -webkit-box-orient: vertical !important;
                // white-space: none !important;
                // text-overflow: ellipsis !important;
                // overflow: hidden !important;
                // display: inline !important;
            }
        }
    }
    
}
#wrapper{
    padding: 0 48px;
    #head{
        display: block;
        height: 100px;
        border-bottom: 1px solid #f4f4f4;
        #head-flex{
            display: flex;
            padding-top: 56px;
            padding-left: 24px;
            #follows{
                padding: 6px 36px;
                cursor: pointer;
                .follows{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    color: #666666;
                }
            }
            #applications{
                padding: 5px 36px;
                border-bottom:2px solid #D52B1E;
                cursor: pointer;
                .applications{
                    color: #222222;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                }
            }

        }
    }
    #totalJobs{
    #saved-jobs{
        display: block;
        padding-top: 8px;
        .saved-jobs{
            color: #666666;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            .red{
                color: #D80000;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }
        }
    }
    #cf-jobs{
        display: block;
        margin-top: 32px;
        #cf-job-flex{
           display: flex !important;
            width: 100%;
            height: 100%;
            .holder{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }

        #job-list-card{
            display: flex;
            width: calc(50% - 30px);
            border: 1px solid #f4f4f4;
            float: left;
            margin:15px;
            border-radius: 5px;
            #avatar{
                flex: 1;
                padding: 20px 0px 20px 20px;
                .company-logo{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }
            #job-list-text{
                flex: 8;
                padding: 16px;
                .title{
                    margin: 0 0 2px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: capitalize;
                }
                .add-text{
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                    line-height: 20px;
                    text-transform: capitalize;
                    font-style: normal;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 2;
                    // -webkit-box-orient: vertical;
                    // white-space: none;
                    // text-overflow: ellipsis;
                }
                .date{
                    margin: 4px 0 0 0;
                    font-weight: 400;
                    color: #666666;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 17px;
                }
                #span-star{
                    position: relative;

                    .star{
                        position: absolute;
                        bottom: 40px;
                        right: 6px;
                        .grade{
                            color:#f4f4f4;
                            /* fill: transparent; */
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 2px;
                             //za border na zvezdata
                           // -webkit-text-stroke:thin;
                            margin-left: 24px;
                            
                            cursor: pointer;
                        }
                        // .grade{
                        //     &:hover {
                        //       color:#D52B1E;
                        //       -webkit-text-fill-color: #D52B1E;
                        //     }
                        //   }
                        .grade-red{
                            color: #D52B1E;
                            /* fill: transparent; */
                            -webkit-text-fill-color: #D52B1E;
                            -webkit-text-stroke: 2px;
                             //za border na zvezdata
                           // -webkit-text-stroke:thin;
                            margin-left: 24px;
                            
                            cursor: pointer; 
                        }  
                    }
                }
                #span-cancel{
                    position: relative;
                    padding: 8px;
                    .cancel-app{
                        position: absolute;
                        bottom: 0px;
                        right: 6px;
                        .cancel-btn{
                            border-radius: 24px;
                            height: 48px;
                            width: 97px;
                            border: none;
                            text-decoration-line: underline;
                            font-size: 14px;
                            font-weight: 500;
                            background-color: #f4f4f4 !important;
                            cursor: pointer;
                            color: #666666;
                        }
                        .cancel-btn:hover{
                            color: #F53626;
                            text-decoration-color: #F53626;
                        }
                    }
                }

            }
        }
        #job-list-card:hover{
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        }
        }
    }
}



