<div id="wrapper">
    <!-- <div id="head">
        <div id="head-flex">
            <div id="follows"><p class="follows">Follows</p></div> 
            <div id="applications"(click)="onClickApp()"><p class="applications">Applications</p></div>
        </div>
    </div> 
    <div id="totalJobs" *ngIf="totalJobs">-->
        <div id="totalJobs">
        <div id="saved-jobs">
            <p class="saved-jobs">You have <span class="red">5</span> applications</p>
        </div>
        <div id="cf-jobs">
            <div id="cf-job-flex" class="dflex" >
                <div class="holder">
                <div id="job-list-card" *ngFor="let job of jobs; let i=index">
                    <div id="job-list-text">
                        <p class="title">{{job.title}}<br>{{job.job_desc.desc}}</p>
                        <p class="date">01-05-2021</p>
                        <div id="span-star"(click)="show1=!show1">
                            <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                            <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel-app"><button class="cancel-btn" (click)="openCancelDialog()">Cancel</button></span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
