form {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    min-width: 552px;
    min-height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f4f4f4;
        span {
            position: absolute;
            top: 20;
            right: 0;
            cursor: pointer;
        }
        h5 {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
        }
    }
    .box1 {
        width: 343px;
        height: 30px;
        margin-top: 40px;
        p{
            color: #222222;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            span{
                color: #d52b1e;
            }
        }
    }
    .box3 {
        margin: 32px 0 64px;
        width: 166px;
        height: 48px;
        background: #00B881;;
        border-radius: 24px;
        color: #FFFFFF;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
            height: unset;
            border: none;
            margin: 0;
            background-color: transparent;
            color: #ffffff;
            font-size: 14px;
        }
    }
}