<form>
    <div class="header">
        <h5>Apply Job</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="box1">
        <p>success! You can check your application at '<span>menu > company follows & apply jobs</span>'</p>
    </div>
    <div class="box3">
        <mat-icon>check_circle_outline</mat-icon>
        <button>Completed</button>
    </div>
</form>
