<form>
    <div class="header">
        <h5>Close Account</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="box1">
        <p>we're sorry to see you go. closing your account means all of your content will be permanently gone.<br>This cannot be undone.</p>
    </div>
    <div class="box3">
        <button id="wht-btn">close account</button>
        <button id="blck-btn" (click)="onNoClick()">cancel</button>
    </div>
</form>