<!-- SECTION WITH FILLED DATA  -->
<div class="section-filled" *ngIf="showPreview">
    <div class="filled">
        <div class="stats">
            <h2>{{createNewPost.title}}</h2>
            <p class="muted">{{createNewPost.country}}</p>
            <p class="muted">01-05-2021</p>
            <p>{{createNewPost.salary_low}}-{{createNewPost.salary_high}} USD / Month</p>
        </div>
        <hr>
        <div class="company">
            <h2 class="title-style">Company Overview</h2>
            <div>
                <div class="company-cards">
                    <p>Size</p>
                    <p>{{createNewPost.company_size}}</p>
                </div>
                <div class="company-cards">
                    <p>Founded</p>
                    <p>{{createNewPost.company_founded}}</p>
                </div>
                <div class="company-cards">
                    <p>Revenue</p>
                    <p>${{createNewPost.company_revenue}}(USD)</p>
                </div>
                <div>
                    <a class="view-a" href="#">Visit website ></a>
                </div>
            </div>
        </div>
        <div class="list">
            <h2 class="title-style">Requirements</h2>
            <ul>
                <li>Bachelor's degree. Certified teachers in Public School Board.</li>
                <li>Energetic, outgoing, caring, passionate, reliable and overall professional.</li>
                <li>Passionate about teaching and dedicated to student outcomes.</li>
                <li>English Native speaker.</li>
                <li>Good computer skills as well as office software.</li>
                <li>Flexible in working hours. Able to work between 5:00 a.m. - 8:00 a.m. Monday to Sunday, and 7:00
                    p.m. - 11:00 p.m. Friday and Saturday (Eastern Time).</li>
                <li>Contract length: 24 months</li>
            </ul>
            <p>Part-time hours: 10-20 per week</p>
            <p>Job Types: Part-time, Contract, Freelance</p>

            <a href="#" class="read-more-a">read more</a>
        </div>
        <div class="more-info">
            <div>
                <h2 class="title-style">Who We Are</h2>
                <p id="text-who" class="text-overflow">{{createNewPost.text_who}}</p>
                <a id="read-more" (click)="readMore()">Read more</a>
            </div>
            <div>
                <h2 class="title-style">What We Do</h2>
                <p>{{createNewPost.text_what}}</p>
            </div>
            <div>
                <h2 class="title-style">Culture & Values</h2>
                <p>{{createNewPost.text_values}}</p>
            </div>
            <div class="carousel-div">
                <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="uploadedImgs">
                    <ngu-tile *nguCarouselDef="let item; let j = index">
                        <div class="carousel-img" [style.background]="'url(' + item + ')'">
                        </div>
                    </ngu-tile>
                    <button NguCarouselPrev class="leftRs"><mat-icon>chevron_left</mat-icon></button>
                    <button NguCarouselNext class="rightRs"><mat-icon>chevron_right</mat-icon></button>
                </ngu-carousel>
            </div>
            <div class="add-img-btn">
                <input style="display: none;" type="file" #fileInput (change)="displayAddedImages($event)">
                <a *ngIf="!continue && !finished && !myPostsView" (click)="fileInput.click()">Add photos</a>
                <mat-icon *ngIf="!continue && !finished && !myPostsView" (click)="fileInput.click()" class="material-symbols-outlined material-icons">add_box</mat-icon>

                <a *ngIf="!continue && !finished && !myPostsView" (click)="fileInput.click()">Select photos</a>
                <mat-icon *ngIf="!continue && !finished && !myPostsView" (click)="fileInput.click()" class="material-symbols-outlined material-icons">add_box</mat-icon>
            </div>
            <div>
                <h2 class="title-style">Where Are We</h2>
                <p>{{createNewPost.text_where}}</p>
            </div>
        </div>

        <div class="buttons">
            <button class="button-edit" *ngIf="!change" (click)="openDialogDelete()">Delete post</button>
            <button class="button-continue" (click)="saveForm()" *ngIf="!change" >Save</button>

            <button class="button-completed" *ngIf="finished"><mat-icon>check_circle</mat-icon>   Completed</button>
        </div>
    </div>
</div>

<mat-icon class="back-icon" *ngIf="this._appService.createAPost" (click)="showAllResumes()" matTooltip="Back">arrow_back</mat-icon>
<!-- SECTION WITH INPUT FIELDS  -->
<div class="section-fill" *ngIf="this._appService.createAPost">
    <div class="content" [formGroup]="createPost">
        <input formControlName="title" class="input-style" type="text" placeholder="title">
        <select formControlName="country" class="input-style" name="city-country">
            <option value="" selected disabled hidden>city / country</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Greece">Greece</option>
        </select>
        <div class="pay">
            <div>
                <div class="pay-small">
                    <input formControlName="salary_low" type="number" placeholder="0">
                </div>
                <span>-</span>
                <div class="pay-small">
                    <input formControlName="salary_high" type="number" placeholder="0">
                </div>
            </div>
            <p>USD / Month</p>
        </div>
        <hr>
        <div class="company">
            <h2 class="title-style">Company Overview</h2>
            <div class="company-inner">
                <div class="company-cards">
                    <p>Size</p>
                    <input formControlName="company_size" class="input-style" type="text" placeholder="0 +">
                </div>
                <div class="company-cards">
                    <p>Founded</p>
                    <input formControlName="company_founded" class="input-style" type="text" placeholder="0 +">
                </div>
                <div class="company-cards">
                    <p>Revenue</p>
                    <input formControlName="company_revenue" class="input-style" type="text" placeholder="input revenue">
                </div>
                <div class="company-cards">
                    <input formControlName="company_url" class="input-style" type="url" placeholder="+URL">
                </div>
            </div>
            <div>
                <input formControlName="company_jobTitle" class="input-style" type="text" placeholder="input job description title">
                <textarea formControlName="company_description" class="input-style" name="job-description" cols="24" rows="6" placeholder="input description"></textarea>
            </div>
            <div>
                <h2 class="title-style">Who We Are</h2>
                <textarea formControlName="text_who" class="input-style" name="who-description" cols="30" rows="6"
                    placeholder="Input text"></textarea>
            </div>
            <div>
                <h2 class="title-style">What We Do</h2>
                <textarea formControlName="text_what" class="input-style" name="who-description" cols="30" rows="6"
                    placeholder="Input text"></textarea>
            </div>
            <div>
                <h2 class="title-style">Culture & Values</h2>
                <textarea formControlName="text_values"  class="input-style" name="who-description" cols="30" rows="6"
                    placeholder="Input text"></textarea>
            </div>
            <div class="carousel-div">
                <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="uploadedImgs">
                    <ngu-tile *nguCarouselDef="let item; let j = index">
                        <div class="carousel-img" [style.background]="'url(' + item + ')'">
                        </div>
                    </ngu-tile>
                    <button NguCarouselPrev class="leftRs"><mat-icon>chevron_left</mat-icon></button>
                    <button NguCarouselNext class="rightRs"><mat-icon>chevron_right</mat-icon></button>
                </ngu-carousel>
            </div>
            <div class="add-img-btn">
                <input style="display: none;" type="file" #fileInput (change)="displayAddedImages($event)">
                <a *ngIf="!continue" (click)="fileInput.click()">Add photos</a>
                <mat-icon *ngIf="!continue" (click)="fileInput.click()" class="material-symbols-outlined material-icons">add_box</mat-icon>

                <a *ngIf="continue" (click)="fileInput.click()">Select photos</a>
                <mat-icon *ngIf="continue" (click)="fileInput.click()" class="material-symbols-outlined material-icons">add_box</mat-icon>
            </div>
            <div>
                <h2 class="title-style">Where Are We</h2>
                <textarea formControlName="text_where" class="input-style who-text" name="who-description" placeholder="Input text"></textarea>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="button-continue-toPreview" (click)="goToPreview();" *ngIf="!editPostsBtns" [disabled]="!createPost.valid || uploadedImgs.length < 1">continue</button>

        <!-- <button class="button-edit" (click)="openDialogDelete()">Delete post</button>
        <button class="button-save" (click)="goToPreview()" *ngIf="editPostsBtns" >Save</button> -->
    </div>
</div>
