* {
    box-sizing: border-box;
}

.none {
    display: none;
}

.block {
    display: block;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; // number of lines to show 
    -webkit-box-orient: vertical;
}

.text-show {
    overflow: visible;
    display: block;
}

#read-more {
    cursor: pointer;
    color: #0585FB;
}

// .resume {
//     margin: 80px 0 0 80px;
//     height: calc(100vh - 290px);

//     p {
//         font-weight: 400;
//         font-size: 14px;
//         line-height: 17px;
//         color: #666666;

//         span {
//             color: #D52B1E;
//         }
//     }

//     .box {
//         margin: 32px 0 64px;
//         width: 166px;
//         height: 48px;
//         background: #ffffff;
//         ;
//         border-radius: 24px;
//         border: 1px solid #D52B1E;
//         color: #D52B1E;
//         cursor: pointer;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;

//         button {
//             height: unset;
//             border: none;
//             margin: 0;
//             background-color: transparent;
//             color: #D52B1E;
//             font-size: 14px;
//         }
//     }
// }

.section-fill,
.section-filled {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    color: #333333;

    .content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-style {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #E3E3E3;
            height: 56px;
            padding: 15px 20px;
            margin: 10px 0;
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
        }

        .pay {
            display: flex;
            flex-direction: column;
            width: 100%;

            div {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
            }

            @media (max-width:768px) {
                div {
                    justify-content: space-around;
                }
            }

            .pay-small {
                display: block;

                input {
                    border-radius: 8px;
                    border: 1px solid #E3E3E3;
                    padding: 10px;
                    height: 56px;
                }

                @media (max-width:768px) {
                    input {
                        width: 100%;
                    }
                }

            }

            @media (max-width:768px) {
                .pay-small {
                    width: 151px;
                }
            }

            span {
                margin: 0 10px;
            }

            p {
                display: block;
                line-height: 17px;
                font-size: 14px;
            }
        }

        hr {
            background-color: #E3E3E3;
            border: none;
            height: 1px;
            width: 100%;
        }

        .company {
            width: 100%;

            .title-style {
                font-size: 14px;
                font-weight: 600px;
                line-height: 17px;
            }

            textarea {
                height: 176px;
                margin-bottom: 25px;
            }

            h2 {
                margin-bottom: 0px;
            }

            .company-inner {
                margin-bottom: 16px;

                .company-cards,
                div {
                    display: flex;
                    align-items: center;
                    font-size: 18px;

                    p {
                        flex: 1;
                        line-height: 17px;
                        font-size: 14px;
                    }

                    input {
                        flex: 10;
                    }

                    @media (max-width:768px) {
                        input {
                            flex: unset;
                            width: 254px;
                        }
                    }
                }

                @media (max-width:768px) {
                    .company-cards:nth-child(4) {
                        input {
                            width: 100%;
                        }
                    }
                }
            }

            .carousel-div {
                height: 100%;
                width: 100%;

                .item {
                    padding: 0;
                }

                .carousel-img {
                    width: 100%;
                    height: 550px;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                }

                .leftRs,
                .rightRs {
                    position: absolute;
                    top: 50%;
                    border-radius: 50%;
                    color: #FFFFFF;
                    background-color: #222222;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    opacity: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    border: none !important;
                }

                .leftRs {
                    left: 67px;
                }

                .rightRs {
                    right: 67px;
                }
            }

            .add-photos {
                width: 100%;
                height: 500px;
                margin-bottom: 15px;

                .img-buttons {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    position: relative;

                    .prev,
                    .next {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        margin-top: -22px;
                        padding: 16px;
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        transition: 0.6s ease;
                        border-radius: 0 3px 3px 0;
                        user-select: none;
                        background-color: rgba(0, 0, 0, 0.3);
                    }

                    .prev {
                        left: 0;
                    }

                    .next {
                        right: 0;
                        border-radius: 3px 0 0 3px;
                    }

                    .background-img {
                        width: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                div {
                    display: flex;

                    p {
                        margin-right: 8px;
                    }
                }
            }

            .add-img-btn {
                margin: 25px 0;
                display: flex;
                align-items: center;
            }

            a {
                display: flex;
                align-items: center;
                color: #D52B1E;
                text-decoration: underline;
                display: inline-block;
                cursor: pointer;
            }

            .material-icons {
                color: #D52B1E;
                text-decoration: none !important;
                cursor: pointer;
            }
        }

        .who-text {
            height: 91px;
        }
    }
}

@media (max-width:768px) {
    .content {
        width: 92%;
    }
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .button-save,
    .button-edit {
        padding: 18px;
        border-radius: 24px;
        width: 165px;
        height: 48px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #222222;
        color: white;
        cursor: pointer;
    }

    .button-edit {
        background-color: #FAFAFA !important;
        margin-right: 20px;
        border: 1px solid #F4f4f4;
        color: #333333;
    }

    .button-continue-toPreview {
        padding: 18px;
        border-radius: 24px;
        border: 1px solid #222222;
        width: 165px;
        height: 48px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
    }
}

.filled {
    max-width: 880px;
    padding: 16px;

    .stats {
        margin-bottom: 35px;

        .muted {
            color: #666666;
        }
    }

    .company {
        margin: 25px 0;

        .company-cards {
            display: flex;
            align-items: start;
            font-size: 18px;
            width: 207px;

            p {
                flex: 1;
                line-height: 17px;
                font-size: 14px;
            }

            input {
                flex: 10;
            }
        }

        .view-a {
            color: #D52B1E;
        }

        .view-a:hover {
            color: #D52B1E;
        }
    }

    .list {
        margin-bottom: 35px;

        ul {
            padding-left: 0;
        }

        .read-more-a {
            color: #0585FB;
            text-decoration: none;
        }
    }

    .more-info {

        .carousel-div {
            height: 100%;
            width: 100%;

            .item {
                padding: 0;
            }

            .carousel-img {
                width: 100%;
                height: 550px;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }

            .leftRs,
            .rightRs {
                position: absolute;
                top: 50%;
                border-radius: 50%;
                color: white;
                background-color: #222222;
                opacity: 0.8;
                padding: 0;
                width: 24px;
                height: 24px;
                opacity: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                border-color: transparent;
                border: none !important;
            }

            .leftRs {
                left: 67px;
            }

            .rightRs {
                right: 67px;
            }
        }

        .add-img-btn {
            margin: 25px 0;
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                color: #D52B1E;
                text-decoration: underline;
                display: inline-block;
                cursor: pointer;
            }

            .material-icons {
                color: #D52B1E;
                text-decoration: none !important;
                cursor: pointer;
            }
        }
    }

    .title-style {
        font-size: 14px;
        font-weight: 600px;
        line-height: 17px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .button-continue,
        .button-edit,
        .button-completed {
            padding: 18px;
            border-radius: 24px;
            width: 165px;
            height: 48px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: #D52B1E;
            color: white;
            cursor: pointer;
        }


        .button-edit {
            background-color: #FAFAFA !important;
            margin-right: 20px;
            border: 1px solid #F4f4f4;
            color: #333333;
        }

        .button-completed {
            background-color: #00B881;
            cursor: default;
        }
    }
}