@media (max-width: 768px) {
    #app-list-card{
        width: calc(100% - 30px) !important;
    }
    #head{
        display: none !important;
    }  
}
#wrapper{
    padding: 0 48px;
    #head{
        display: block;
        height: 100px;
        border-bottom: 1px solid #f4f4f4;
        #head-flex{
            display: flex;
            padding-top: 56px;
            padding-left: 24px;
            #applications{
                padding: 5px 36px;
                border-bottom:2px solid #D52B1E;
                cursor: pointer;
                .applications{
                    font-size: 18px;
                    color:#222222;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
        }
    }
    #totalApplications{
    #saved-apps{
        display: block;
        padding-top: 8px;
        .saved-apps{
            color: #666666;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            .red{
                color: #d80000;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    #cf-apps{
        display: block;
        margin-top: 32px;
        #cf-app-flex{
           display: flex !important;  
            width: 100%;
            height: 100%;
            .holder{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
        #app-list-card{
            display: flex;
            width: calc(50% - 30px);
            float: left;
            margin:15px;
            #avatar{
                flex: 1;
                padding: 16px 0px 16px 16px;
                position: relative;
                #check-circle{
                    position: absolute;
                    top:11px;
                    left: 60px;
                    .mat-icon{
                        color: #00b881;
                    }
                }
                .teacher-logo{
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                }
            }
            #app-list-text{
                flex: 8; 
                padding: 16px;
                border-bottom: 1px solid #e3e3e3;
                .title{
                    margin: 0 0 24px 0;
                    color: #333333;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: capitalize;
                }
                .experience{
                    margin: 0 0 2px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                #flex{
                    display:flex;
                    margin-top: 12px;
                }
                #span-send{
                    position: relative;
                    padding: 0px;
                    .send{
                        //position: absolute;
                        bottom: 3px;
                        right: 72px;
                        .send-btn{
                            border-radius: 26px;
                            height: 48px;
                            width: 139px;
                            border: none;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 17px;
                            background-color: #d52b1e !important;
                            color: #ffffff;
                            cursor: pointer;
                        }
                        .send-btn:hover{
                            background-color: #F53626 !important;
                        }
                    }
                }
                #span-delete{
                    position: relative;
                    padding: 3px;
                    .delete{
                       // position: absolute;
                        bottom: 7px;
                        right: -13px;
                        .delete-btn{
                            border-radius: 21px;
                            height: 32px;
                            width: 76px;
                            border: none;
                            text-decoration-line: underline;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 12px;
                            background-color:transparent!important;
                            color:#666666;
                            font-weight: 300;
                            cursor:pointer;  
                        }
                        // .delete-btn:hover{
                        //     color: #D52B1E;
                        //     text-decoration-color: #D52B1E;
                        // }
                    }
                }
            }
        }
    }
}
    #paginator{
        display: block;
    }
}

