<div id="wrapper">
    <div id="head" *ngIf="!this._appService.defaultHeader">
        <div id="head-flex">
            <div id="applications">
                <p class="applications">Applications</p>
            </div> 
        </div>
    </div>
    <div id="totalApplications" >

        <div id="saved-apps">
            <p class="saved-apps">You have <span class="red">22</span> applications</p>
        </div>
        <div id="cf-apps">
            <div id="cf-app-flex" class="dflex" >
                <div class="holder">
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn"(click)="openDeleteDialog()">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <!-- <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div> -->
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-list-card">
                    <div id="avatar">
                       <div id="check-circle"> <mat-icon>
                            check_circle
                            </mat-icon></div>
                        <img class="teacher-logo" src="../../../assets/images/school4.png">
                    </div>
                    <div id="app-list-text">
                        <p class="title">Teacher Eva Texttexttextetxt</p>
                        <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..
                        </p> 
                        <div id="flex">
                            <div id="span-send">
                                <span class="send"><button class="send-btn">send email</button></span>
                            </div>  
                            <div id="span-delete">
                                <span class="delete"><button class="delete-btn">Delete</button></span>
                            </div>
                        </div>
                    </div>
                </div>


                
            </div>

            </div>

        </div>
    </div>
    <div id="paginator">
        <app-paginator></app-paginator>
    </div>
</div>

