form {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 552px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f4f4f4;
        span {
            position: absolute;
            top: 20;
            right: 0;
            cursor: pointer;
        }
        h5 {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #222222;
        }
    }
    .box1 {
        width: 343px;
        height: 45px;
        margin-top: 40px;
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #333333;
            text-align: center;
        }
    }
    .box3 {
        margin: 32px 0 64px;
        width: 343px;
        display: flex;
        justify-content: space-between;
        #blck-btn {
            background: #222222;
            border-radius: 24px;
            color: #FFFFFF;
            width: 166px;
            height: 48px;
            border: none;
            cursor: pointer;
        }
        #wht-btn {
            background-color: #Fafafa;
            border-radius: 24px;
            color: #333333;
            width: 165px;
            height: 48px;
            border: 1px solid #f4f4f4;
            cursor: pointer;
        }
    }
}
@media (max-width: 768px){
form{
    width: auto;
}
}