<div id="details">
    <div id="teacher-text">
        <div id="teacher-list-card">
            <div id="avatar">
                <img class="teacher-logo" src="../../../assets/images/school4.png">
            </div>
            <div id="teacher-list-text">
                <div id="tt"><p class="title">Teacher Eva</p>
                    <a class="link">liyi6601@naver.com</a><span class="forum"><mat-icon>forum</mat-icon></span>
                </div>
                <div id="span-heart">
                    <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                </div>  
            </div>
            <div id="a"></div>  
        </div>
    </div>
    <div id="introduction">
        <h3 class="introduction"><b>Introduction</b></h3>
        <div id="overview">
            <p class="overview">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
        </div>
        <div id="btn-english">
            <div id="btn-wrapper">
                <div id="btns">
                    <button class="btn-english">business english</button>
                    <button class="btn-english">IELTS</button>
                </div>
            </div>
        </div>
    </div>
    <div id="experience">
        <h3 class="experience"><b>Experience</b></h3>
        <div id="teacher-list-card">
            <div id="avatar">
                <img class="teacher-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
            </div>
            <div id="teacher-list-text">
                <p class="title" *ngIf="resumeDetails">{{resumeDetails.sections[0].context.dept}}</p>
                <p class="location" *ngIf="resumeDetails">{{resumeDetails.sections[0].context.location}}</p>
                <p class="date" *ngIf="resumeDetails">{{resumeDetails.sections[0].context.years}}</p>
                <p class="university" *ngIf="resumeDetails">{{resumeDetails.sections[0].context.desc}}</p> 
            </div>
        </div>
    </div>
    <div id="education">
        <h3 class="education"><b>Education</b></h3>
        <div id="teacher-list-card">
            <div id="avatar">
                <img class="teacher-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
            </div>
            <div id="teacher-list-text">
                <p class="title" *ngIf="resumeDetails">{{resumeDetails.sections[1].context.dept}}</p>
                <p class="date" *ngIf="resumeDetails">{{resumeDetails.sections[1].context.years}}</p>
                <p class="university" *ngIf="resumeDetails">{{resumeDetails.sections[1].context.desc}}</p> 
            </div>
        </div>
    </div>
    <div id="other-certificates">
        <h3 class="other-certificates"><b>Other Certificates</b></h3>
        <div id="certificate">
            <div id="certificate-name">
                <p class="certificate-name" *ngIf="resumeDetails">{{resumeDetails.sections[2].context.dept}}</p>
            </div>
            <div id="cer-up">
                <div id="check-box"><mat-icon class="check-box">check_circle</mat-icon></div> 
                <div id="uploaded"><p class="upload">Certificate Uploaded</p></div>
            </div>
        </div>
    </div>
     <div id="teachers-details-contact">
        <div id="contact"><button class="contact-teacher">Contact</button></div>
    </div>
</div>


