#details{
    flex: 4;
   // box-sizing: border-box;
    display: flex;
   flex-direction: column;
   // justify-content: start;
    overflow-y: auto;
    padding: 0 0 0 36px;
    #teacher-text{
        display: block;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 16px;
        #teacher-list-card{
            display: flex;
            flex:auto;
            #avatar{
                flex: 1;
                padding: 16px 0 16px 16px;
                .teacher-logo{
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    margin-top: 12px;
                }
            }
            #teacher-list-text{
                flex: 9; 
                //border-top: 1px solid #E3E3E3;
               // border-bottom: 1px solid #E3E3E3;
                padding: 10px 10px 10px 0;
                justify-content: space-between;
                display: flex;
                margin-top: 38px;
                #tt{
                    .title{
                        margin: 0px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #333333;
                    }
                    .link{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        color: #333333;
                    }
                     .forum{
                        color:#D52B1E;                            
                       // fill: transparent; 
                        -webkit-text-fill-color: #f4f4f4;
                        -webkit-text-stroke: 2px;
                        margin-left: 24px;
                        cursor: pointer;
                          }
                    }
                }
                #span-heart{
                    display: flex;
                    .heart{
                        .favorite{
                            color:#E3E3E3;
                            /* fill: transparent; */
                            -webkit-text-fill-color: #D52B1E;
                            -webkit-text-stroke: 2;
                            margin-left: 24px;
                        }
                        // .grade{
                        //     &:hover {
                        //       color:#D52B1E;
                        //       -webkit-text-fill-color: #D52B1E;
                        //     }
                        //   }
                    }
                }
            }
        }
    }
    #introduction{
        display: block;
        padding: 16px 0;
        border-bottom: 1px solid #f4f4f4;
        .introduction{
            color: #222222;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
        }
        #overview{
            .overview{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-transform: capitalize;
                color: #333333;
            }
        }
        #btn-english{
            display: block;
            margin: 20px 0;
            #btn-wrapper{
                display: flex;
                justify-content: space-between;
                #btns{
                    .btn-english{
                        height: 32px;
                        width: fit-content;
                        border-radius: 16px;
                        background-color: #fafafa;
                       // background-color:white ;
                        border: 1px solid #E3E3E3;
                        margin: 6px 4px;
                        }
                       // .btn-english:hover{
                       //   background-color: #FAFAFA;
                       //    }
                    }
                }
            }
    }
    #experience{
        padding: 16px 0 0 16px;
        border-bottom: 1px solid #f4f4f4;
        .experience{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #333333;
        }
        #teacher-list-card{
            display: flex;
            flex:auto;
            #avatar{
                flex: 1;
                padding: 16px 0px 16px 16px;
                margin-top: 3px;
                .teacher-logo{
                    width: 48px;
                    height: 48px;
                    border-radius: 8%;
                }
            }
            #teacher-list-text{
                flex: 11; 
                //border-top: 1px solid #E3E3E3;
                border-bottom: 1px solid #f4f4f4;
                padding: 16px 16px 16px 0px;
                .title{
                    margin: 0 0 24px 0;
                    font-style:normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: #333333;
                }
                .location{
                    margin:0 0 7px 0;
                    color: #666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;

                }
                .date{
                    margin: 4px 0 0 0;
                    color: #666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                .university{
                    margin: 0 0 2px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                #certificate{
                    #cer-up{
                        display: flex;
                        #check-box{
                            float: left;
                            .check-box{
                                color: #00b881;
                                width: 16px;
                                height: 16px;
                            }
                        }
                        #uploaded{
                            .upload{
                                color: #00b881;
                                font-weight:300;
                                padding: 5px 2px 2px 10px;
                                font-style: normal;
                                font-size: 12px;
                                line-height: 15px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
    #education{
        padding: 16px 0 0 16px;
        border-bottom: 1px solid #f4f4f4;
        .education{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #333333;
        }
        #teacher-list-card{
            display: flex;
            flex:auto;
            #avatar{
                flex: 1;
                padding: 16px 0px 16px 16px;
                margin-top: 3px;
                .teacher-logo{
                    width: 48px;
                    height: 48px;
                    border-radius: 8%;
                }
            }
            #teacher-list-text{
                flex: 11; 
                //border-top: 1px solid #E3E3E3;
                border-bottom: 1px solid #f4f4f4;
                padding: 16px 16px 16px 0px;
                .title{
                    margin: 0 0 24px 0;
                    font-style:normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: #333333;
                }
                .date{
                    margin: 4px 0 0 0;
                    color: #666666;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                .university{
                    margin: 0 0 2px 0;
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
                #certificate{
                    #cer-up{
                        display: flex;
                        #check-box{
                            float: left;
                            .check-box{
                                color: #00b881;
                                width: 16px;
                                height: 16px;
                            }
                        }
                        #uploaded{
                            .upload{
                                color: #00b881;
                                font-weight:300;
                                padding: 5px 2px 2px 10px;
                                font-style: normal;
                                font-size: 12px;
                                line-height: 15px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
    #other-certificates{
        padding: 16px 0;
        border-bottom: 1px solid #E3E3E3;
        .other-certificates{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #333333;
        }
        #certificate-name{
            display: block;
            .certificate-name{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-transform: capitalize;
                color: #333333;
            }
        }
        #certificate{
            #cer-up{
                display: flex;
                #check-box{
                    float: left;
                    .check-box{
                        color: #00b881;
                        width: 16px;
                        height: 16px;
                    }
                }
                #uploaded{
                    .upload{
                        color: #00b881;
                        font-weight:300;
                        padding: 5px 2px 2px 10px;
                        font-style: normal;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    #teachers-details-contact{
        display: block;
        padding: 16px 0;
        #contact{
            display: flex;
            justify-content: center;
            .contact-teacher{
                color:#ffffff;
                background-color: #D52B1E;
                border: none;
                height: 48px;
                width: 166px;
                border-radius: 24px;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 17px;
                cursor: pointer;
            }
            .contact-teacher:hover{
                background-color:#F53626;
            }
        }
    }

