<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="header">
        <h5>Choose Resume</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div *ngFor="let resume of resumes; let i = index">
        <div class="box1">
            <input type="radio" name="resume" formControlName="resume" value={{i}}>
            <span>{{resume.intro}}</span>
        </div>
    </div>
    
    <div class="box3">
        <button type="submit" id="red-btn">Save</button>
    </div>
</form>