#details{
    flex: 4;
   // box-sizing: border-box;
    display: flex;
   flex-direction: column;
   // justify-content: start;
    overflow-y: auto;
    padding: 0 0 0 36px;
    // #mobile{
    //     display: block;
    //     #back-link{
    //         display: flex;
    //         justify-content: space-between;
    //         #back{
    //             flex: 5;
    //             a{
    //             color: rgb(0, 153, 255);
    //             font-weight: 500;
    //             font-size: large;
    //         }
    //         }
    //         #mobile-icon{
    //             flex:1;
    //             #txt-icon{
    //                 flex:1;
    //                 .save-alt{
    //                     cursor: pointer;
    //                 }
    //                .txt-star{
    //                     -webkit-text-fill-color: #D52B1E;
    //                     color: #D52B1E;                    
    //                     -webkit-text-stroke:#D52B1E;
    //                     margin-left: 24px;
    //                 }
    //             }
    //         }
    //     }
    // }
    #company-text{
        display: block;
        border-bottom: 1px solid #E3E3E3;
        padding-bottom: 16pxs;
        #txt{
            display: flex;
            #txt-info{
                flex:5;
                .text{
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: capitalize;
                }
                .location{
                    color: #666666;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                }
                .date{
                    color: #666666;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                }
                .income{
                    color: #333333;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                }
            }
            #txt-icon{
                flex:1;
                .save-alt{
                    cursor: pointer;
                    color: #222222;
                    -webkit-text-stroke:2px solid #222222;
                }
               .txt-star{
                    -webkit-text-fill-color: #D52B1E;
                    color: #D52B1E;                    
                    -webkit-text-stroke:2px solid #D52B1E;
                    margin-left: 24px;
                }
            }
        }
    }
    #company-overview{
        display: block;
        padding: 16px 0;
        .company-overview{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
            text-transform: capitalize;
        }
        #overview{
            display: flex;
            #overview-name{
                flex:1;
                .size{
                    color: #333333;
                    font-weight:500 ;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;
                }
                .founded{
                    color: #333333;
                    font-weight:500 ;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;
                }
                .revenue{
                    color: #333333;
                    font-weight:500 ;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;
                }
            }
            #overview-data{
                flex:5;
                .overview-data{
                    color: #333333;
                    font-weight:400 ;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        a{
            color: #F53626;
            font-weight:500 ;
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line:underline ;
        }
    }
    #who-we-are{
        padding: 16px 0;
        .who-we-are{
            color: #333333;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
        }
        .wwa-text{
            color: #333333;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize; 
        }
        #more {display: none;}
        #myBtn{
            background-color: transparent;
            border:none;
            color: #0585fb;
            cursor: pointer;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
    #what-we-do{
        padding: 16px 0;
        .what-we-do{
            color: #333333;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
        }
        .wwd-text{
            color: #333333;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize; 
        }
    }
    #culture-values{
        padding: 16px 0;
        .culture-values{
             color: #333333;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
        }
        .cv-text{
            color: #333333;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize; 
        }
    }
    #company-carousel{
        display: block;
    }
    #company-location{
        display: block;
        #map{
            display: flex;
            #map-text{
                flex: 3;
                .where-are-we{
                    color: #333333;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;  
                }
                .waw-text{
                    color: #333333;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            #map-icon{
                flex: 2;
                .map-icon{
                    margin-top: 38px;
                     margin-left: 12px;
                     color: #F53626;
                     cursor: pointer;
                     -webkit-text-stroke:2px solid #F53626;
                }
            }
        }
    }
    #job-details-apply{
        display: block;
        padding: 16px 0;
        #app{
            display: flex;
            justify-content: center;
            .job-apply{
                color:#ffffff;
                background-color: #D52B1E;
                border: none;
                height: 48px;
                width: 166px;
                border-radius: 24px;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                font-style: normal;
                cursor: pointer;
            }
            .job-apply:hover{
                background-color: #F53626;
            }
        }
    }
}