<div id="details">
    <!-- <div id="mobile">
        <div id="back-link">
            <div id="back">
                <a href="#" src=""> < Back</a>
            </div>
            <div id="mobile-icon">
                <div id="txt-icon">
                        <mat-icon class="save-alt">save_alt</mat-icon>
                        <mat-icon class="txt-star">grade</mat-icon>
                     </div>
            </div>
        </div>
    </div> -->
    <div id="company-text">
        <div id="txt">
            <div id="txt-info">
            <h3 class="text" *ngIf="jobDetails">
                {{jobDetails.profile.name}} {{jobDetails.job.title}} {{jobDetails.job.job_desc.desc}}
            </h3>
            <p class="location" *ngIf="jobDetails">{{jobDetails.job.region}}</p>
            <p class="date">01-05-2021</p>
            <p class="income" *ngIf="jobDetails">{{jobDetails.job.salary}}</p>
            </div>   
             <div id="txt-icon">
            <!-- icona za upload treba da ima  -->
                <mat-icon class="save-alt">save_alt</mat-icon>
                <mat-icon class="txt-star">grade</mat-icon>
             </div>
        </div>
    </div>
    <div id="company-overview">
        <h3 class="company-overview">Company Overview</h3>
        <div id="overview">
            <div id="overview-name">
                <p class="size">Size</p>
                <p class="founded">Founded</p>
                <p class="revenue">Revenue</p>
            </div>
            <div id="overview-data">
                <p class="overview-data" *ngIf="jobDetails">{{jobDetails.profile.overview.Size}}</p>
                <p class="overview-data" *ngIf="jobDetails">{{jobDetails.profile.overview.Founded}}</p>
                <p class="overview-data" *ngIf="jobDetails">{{jobDetails.profile.overview.Revenue}}</p>
            </div>
        </div>
        <a href="{{jobDetails.profile.overview.URL}}" target="_blank" *ngIf="jobDetails">Visit website ></a>
    </div>
    <div id="who-we-are">
        <h3 class="who-we-are">Who We Are</h3>
        <p class="wwa-text" *ngIf="jobDetails">{{jobDetails.profile.sections[0].desc}}<span id="dots">...</span><span id="more"></span></p>
 <button (click)="readMore()" id="myBtn">read more</button>
    </div>
    <div id="what-we-do">
        <h3 class="what-we-do">What We Do</h3>
        <p class="wwd-text" *ngIf="jobDetails">{{jobDetails.profile.sections[1].desc}}</p>
    </div>
    <div id="culture-values">
        <h3 class="culture-values">Cultures & Values</h3>
        <p class="cv-text" *ngIf="jobDetails">{{jobDetails.profile.sections[2].desc}}</p>
    </div>
    <div id="company-carousel">
        <app-carousel [images]="images"></app-carousel>
     </div>
     <div id="company-location">
         <div id="map">
             <div id="map-text">
                 <h3 class="where-are-we">Where Are We</h3>
                 <p class="waw-text" *ngIf="jobDetails">{{jobDetails.profile.sections[3].desc}}</p>
             </div>
             <div id="map-icon">
                 <mat-icon class="map-icon">map</mat-icon>
             </div>
         </div>
     </div>
     <div id="job-details-apply">
        <div id="app"><button class="job-apply">Apply now</button></div>
    </div>
</div>

