<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Follows"><app-teacher-follows></app-teacher-follows></mat-tab>
    <mat-tab label="Contacts"><app-teacher-contacts></app-teacher-contacts></mat-tab>
</mat-tab-group>