::ng-deep mat-tab-group {
    border-radius: 10px !important;
  
    mat-ink-bar {
      background-color: #D52B1E !important;
    }
  }

  mat-tab-group{
    margin-top: 35px;
  }

  :host::ng-deep .mat-tab-label .mat-tab-label-content{
    font-size: 18px !important;
    color:#222222 !important;
    font-weight: 500 !important;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
  }