<form>
    <div class="header">
        <h5>Forgot Your Password?</h5><br>
        <span (click)="onNoClick()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="box1">
        <p>Please enter your email address and we will send you an email with instructions for resetting your password</p>
    </div>
    <div class="box2">
        <input class="input2" id="email" type="email" placeholder="email">
    </div>
    <div class="box3">
        <button>reset</button>
    </div>
</form>
