.mat-dialog-container { 
    max-width: 600px !important; 
}
form {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    max-height: 680px;
    input:focus{
        outline: none;
        border: 1px solid #222222!important;
    }
    .header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            position: absolute;
            top: 20;
            right: 0;
            cursor: pointer;
        }
        h5 {
            display: inline-block;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #222222;
        }
    }
    .hr-modal {
        background-color: #F4F4F4;
        height: 1px;
        border: none;
        position: absolute;
        width: 100%;
    }
    .box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #666666;
            width: 343px;
            margin-bottom: 20px;
            text-align: left;
        }
    }
    .box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        .input2 {
            box-sizing: border-box;
            width: 343px;
            height: 56px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            border-radius: 8px;
            display: block;
            padding: 0 20px;
        }
        .input2:hover {
            border: 1px solid #222222;
        }
        #email {
            margin-bottom: 20px;
        }
    }
    .box3 {
        button {
            background: #222222;
            border-radius: 24px;
            color: #FFFFFF;
            width: 197px;
            height: 48px;
            cursor: pointer;
            border: none;
        }
    }
}