@media (max-width: 768px) {
    #pc-logo {
        display: none;
    }
    #mob-logo {
        display: block!important;

    }
    .wrapper1 {
        flex-direction: column-reverse!important;
    }
}


.wrapper {
    height: 100%;
    width: 100%;
    position:relative;
    #pc-logo {
        position:absolute;
        top:0;
        left: 0;
        width: 130px;
        z-index: 1;
    }
    #mob-logo {
        display: none;
        width: 81px;
        height: 52px;
        position:absolute;
        bottom:5%;
        left: 43%;
        z-index: 1;
    }
    .wrapper1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex:2;
        .teacher {
            display: flex;
            flex:1;
            background: #FFFFFF;
            opacity: 0.93;
            align-items: center;
            justify-content: center;
            .center-text{
                display: flex;
                flex-direction: column;
                img {
                    height: 78px;
                    width: 78px;
                    margin-bottom: 24px;
                }
                a {
                    color: #D52B1E;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }

        }
        .job {
            display: flex;
            flex:1;
            background-color: #D52B1E;
            opacity: 0.93;
            align-items: center;
            justify-content: center;
            .center-text{
                display: flex;
                flex-direction: column;
                img {
                    height: 78px;
                    width: 78px;
                    margin-bottom: 24px;
                }
                a {
                    color:#FFFFFF;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

