<div class="wrapper">
    <img id="pc-logo" src="../../assets/images/logo.png">
    <img id="mob-logo" src="../../assets/images/mobile-logo.jpg">
    <div class="wrapper1">
        <div class="teacher">
            <div class="center-text">
                <a [routerLink]="'../find-teacher'">
                    <img src="../../assets/images/icon_findteahcers.png" alt="">
                    <p>Find a teacher ></p>
                </a>
            </div>
        </div>
        <div class="job">
            <div class="center-text">
                <a [routerLink]="'../find-job'">
                    <img src="../../assets/images/icon_findjobs.png" alt="">
                    <p>Find a job ></p>
                </a>
            </div>
        </div>
    </div>
    
</div>
