<div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; let i = index"
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}">

  <!-- dot-indicators
    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of images; let i=index" class="dot"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)"
        ></span>
    </div> -->

<!--/control-arrows/Namesto div moze da stoi button ama vo css border none -->
    <div *ngIf="controls" class="btn-carousel btn-prev">
        <i class="material-icons icon-left icon-prev" 
        (click)="onPrevClick()">chevron_left</i>
    </div>
    <div *ngIf="controls" class="btn-carousel btn-next">
        <i class="material-icons icon-right icon-next" 
        (click)="onNextClick()">chevron_right</i>
    </div>
</div>

