<div id="contacts">
    <p class="number">You have <span>6</span> contacted teachers</p>
    <div id="cards-container">
    <div id="left">
    <div class="card">
        <img src="assets/images/paula.png" alt="">
        <mat-icon id="check">check_circle</mat-icon>
        <div class="card-body">
            <p>Teacher Eva</p><br>
        <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
            <div id="del">
                <p id="date">2021-12-3 sent</p>
                <a href="">Delete</a>
            </div>
            </div>
    </div>
    <div class="card">
        <img src="assets/images/paula.png" alt="">
        <mat-icon id="check">check_circle</mat-icon>
        <div class="card-body">
        <p>Teacher Eva</p><br>
        <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
        <div id="del">
            <p id="date">2021-12-3 sent</p>
            <a href="">Delete</a>
        </div>
        </div>
</div>
<div class="card">
    <img src="assets/images/paula.png" alt="">
    <mat-icon id="check">check_circle</mat-icon>
    <div class="card-body">
    <p>Teacher Eva</p><br>
    <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
    <div id="del">
        <p id="date">2021-12-3 sent</p>
        <a href="">Delete</a>
    </div>
    </div>
</div>
</div>

<div id="right">
    <div class="card">
        <img src="assets/images/paula.png" alt="">
        <mat-icon id="check">check_circle</mat-icon>
        <div class="card-body">
        <p>Teacher Eva</p><br>
        <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
        <div id="del">
            <p id="date">2021-12-3 sent</p>
            <a href="">Delete</a>
        </div>
        </div>
</div>
<div class="card">
    <img src="assets/images/paula.png" alt="">
    <mat-icon id="check">check_circle</mat-icon>
    <div class="card-body">
    <p>Teacher Eva</p><br>
    <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
    <div id="del">
        <p id="date">2021-12-3 sent</p>
        <a href="">Delete</a>
    </div>
    </div>
</div>
<div class="card">
    <img src="assets/images/paula.png" alt="">
    <mat-icon id="check">check_circle</mat-icon>
    <div class="card-body">
    <p>Teacher Eva</p><br>
    <p>8yrs teaching experience native english speaker TEFL certified with <br>4years experience<p><br>
    <div id="del">
        <p id="date">2021-12-3 sent</p>
        <a href="">Delete</a>
    </div>
    </div>
</div>
</div>
</div>
</div>