<div id="wrapper">
    <div id="head">
        <div id="head-flex">
            <div id="positions">
                <p class="positions">Positions</p>
            </div> 
        </div>
    </div>
    <div id="totalJobs" >
        <div id="saved-jobs">
            <p class="saved-jobs">You have <span class="red">30</span> positions</p>
        </div>
        <div id="cf-jobs">
            <div id="cf-job-flex" class="dflex" >
                <div class="holder">
<!-- karticki so razlicno Id za da moze posebno da se klika show1 i show 2-->
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show1=!show1">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show2">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show2=!show2">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show2">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show2=!show2">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>
                <!-- karticki so razlicno Id za da moze posebno da se klika show11 i show22-->
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show11=!show11">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show11">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show11">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show22">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show22=!show22">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn"(click)="openDeleteDialog()">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show22">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show22=!show22">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show1=!show1">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show2">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show2=!show2">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show2">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show2=!show2">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show1=!show1">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show2">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show2=!show2">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show2">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show2=!show2">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show1=!show1">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show2">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show2=!show2">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show2">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show2=!show2">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show1=!show1">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show2">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show2=!show2">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show2">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show2=!show2">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>
                <div id="job-list-card">
                    <div id="avatar">
                        <img class="company-logo" src="../../../assets/images/281-2817583_graduation-cap-gray-graduation-hat-icon-transparent.png">
                    </div>
                    <div id="job-list-text">
                        <div id="top">
                            <div id="top-txt">
                            <p class="title">Adults ESL training Center Teachers(Shenzhen)Texttexttext...</p>
                            </div>
                            <div id="top-star">
                                <div id="span-star"(click)="show1=!show1">
                                    <span class="star"><mat-icon class="grade"*ngIf="!show1">grade</mat-icon></span>
                                    <span class="star"><mat-icon class="grade-red"*ngIf="show1">grade</mat-icon></span>
                                </div>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="bottom-txt">
                                <p class="location">taiyuan,china</p>
                                <p class="date">01-05-2021</p>
                                <p class="income">2,600,00-3,500,00 uSD / Month 
                                </p>
                            </div>
                            <div id="bottom-btns"*ngIf="!show2">
                        <div id="span-apply">
                            <span class="apply"><button class="apply-btn"(click)="show2=!show2">Apply</button></span>
                        </div>  
                        <div id="span-delete">
                            <span class="delete"><button class="delete-btn">Delete</button></span>
                        </div>
                    </div>
                    <div id="bottom-btns"*ngIf="show2">
                        <div id="span-applied">
                            <span class="applied"><button class="applied-btn">Applied</button></span>
                        </div>  
                        <div id="span-cancel">
                            <span class="cancel"><button class="cancel-btn"(click)="show2=!show2">Cancel</button></span>
                        </div>
                    </div>
                     </div>
                    </div>
                </div>



 

 









            </div>
            </div>
        </div>
    </div>
    <div id="paginator">
        <app-paginator></app-paginator>
    </div>
</div>
