@media (max-width: 768px) {
    #job-list-card{
        width: calc(100% - 30px) !important;
        height: 254px !important;
        //height: fit-content;
    }
      #bottom-btns{
        justify-content: flex-start !important;
    }

   #top{
    flex-direction: row !important;
   }
   #bottom{
    flex-direction: column !important;
   }
   #bottom-btns{
    padding-top: 0px !important;
   }

   #span-star {
    position: absolute !important;
    top: 130px;
    right: 100px;
   }
   #avatar{
    padding: 20px!important;
   }
}

#wrapper{
    padding: 0 48px;
    #head{
        display: block;
        height: 100px;
        border-bottom: 1px solid #f4f4f4;
        #head-flex{
            display: flex;
            padding-top: 56px;
            padding-left: 24px;
            #positions{
                padding: 5px 36px;
                border-bottom:2px solid #D52B1E;
                cursor: pointer;
                .positions{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    text-transform: capitalize;
                    color:#222222;
                }
            }
        }
    }
    #totalJobs{
    #saved-jobs{
        display: block;
        padding-top: 8px;
        .saved-jobs{
            color: #666666;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            .red{
                color: #D80000;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    #cf-jobs{
        display: block;
        margin-top: 32px;
        #cf-job-flex{
           display: flex !important;
            width: 100%;
            height: 100%;
            .holder{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
        #job-list-card{
            display: flex;
            width: calc(50% - 30px);
            border: 1px solid #f4f4f4;
            float: left;
            margin:15px;
            border-radius: 5px;
            #avatar{
                flex: 1;
                padding: 20px 0px 20px 20px;
                .company-logo{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }
            #job-list-text{
                flex: 10 !important;
                padding: 16px 16px 16px 0px;
                flex-direction: column;
                display: flex;
                float: left;
                position: relative;
                #top{
                    flex:10;
                    flex-direction: row;
                    display: flex;
                #top-txt{
                   flex: 8;
                //background-color: red;
                //order: 0;

                    .title{
                        margin: 0 0 24px 0;
                        color: #333333;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: none;
                        text-overflow: ellipsis;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: capitalize;
                    }
                    .location{
                        margin:0 0 7px 0;
                        color: #666666;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px;
        
                    }
                    .date{
                        margin: 4px 0 0 0;
                        color: #666666;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px;
                    }
                    .income{
                        margin: 0 0 2px 0;
                        color:#333333;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px;
                    }
                }

                #top-star{
                    flex:2;
                     //background-color: green;
                     padding: 0px 13px;
                     display: block;
                  //   order:1;
                 #span-star{
                     position: relative;
                     display: flex;
                     justify-content: end;
                     .star{
                        // position: absolute;
                        // bottom: 82px;
                         //right: 6px;
                         .grade{
                             color:#f4f4f4;
                             /* fill: transparent; */
                             -webkit-text-fill-color: transparent;
                             -webkit-text-stroke: 2px;
                             margin-left: 24px;
                             cursor: pointer;
                         }
                        //  .grade{
                        //      &:hover {
                        //        color:#D52B1E;
                        //        -webkit-text-fill-color: #D52B1E;
                        //      }
                        //    }
                        .grade-red{
                            color: #D52B1E;
                            /* fill: transparent; */
                            -webkit-text-fill-color: #D52B1E;
                            -webkit-text-stroke: 2px;
                             //za border na zvezdata
                           // -webkit-text-stroke:thin;
                            margin-left: 24px;
                            
                            cursor: pointer; 
                        }  
                     }
                 }
            }
        }
                #bottom{
                    flex: 10;
                  //  background-color: yellow;
                   // order:3;
                    display: flex;
                    flex-direction: row;
                    #bottom-txt{
                        flex:5;
                        //background-color: purple;
                       // order:2;
                       .location{
                        margin:0 0 7px 0;
                        color: #666666;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px;
                    }
                    .date{
                        margin: 4px 0 0 0;
                        color: #666666;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px;
                    }
                    .income{
                        margin: 0 0 2px 0;
                        color:#333333;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px;
                    }

                    }
                    #bottom-btns{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        flex:5;
                        padding-top: 28px;

                #span-apply{
                    position: relative;
                    padding: 5px;
                    .apply{
                      //  position: absolute;
                       // bottom: 3px;
                       // right: 72px;
                        .apply-btn{
                            border-radius: 24px;
                            height: 48px;
                            width: 90px;
                            border: none;
                            font-size: 14px;
                            line-height: 17px;
                            font-weight: 500;
                            font-style: normal;
                            background-color: #d52b1e !important;
                            color: #ffffff;
                            cursor: pointer;
                        }
                        .apply-btn:hover{
                            background-color: #F53626 !important;
                        }
                    }
                }
                #span-applied{
                    position: relative;
                    padding: 5px;
                    .applied{
                      //  position: absolute;
                       // bottom: 3px;
                       // right: 72px;
                        .applied-btn{
                            border-radius: 24px;
                            height: 48px;
                            width: 90px;
                            border: 1px solid #d1d1d1;
                            font-size: 14px;
                            line-height: 17px;
                            font-weight: 500;
                            font-style: normal;
                            background-color: transparent !important;
                            color: #999999;
                            cursor: pointer;
                        }
                    
                    }
                }
                #span-delete{
                    position: relative;
                    padding: 14px 0px;
                    .delete{
                      // position: absolute;
                        bottom: 7px;
                        right: -13px;
                        .delete-btn{
                            border-radius: 21px;
                            height: 32px;
                            width: 76px;
                            border: none;
                            text-decoration-line: underline;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 12px;
                            background-color:transparent!important;
                            color: #666666;
                            cursor:pointer;
                        }
                        .delete-btn:hover{
                             color: #F53626;
                             text-decoration-color: #F53626;
                         }
                    }
                }
                #span-cancel{
                    position: relative;
                    padding: 14px 0px;
                    .cancel{
                      // position: absolute;
                        bottom: 7px;
                        right: -13px;
                        .cancel-btn{
                            border-radius: 21px;
                            height: 32px;
                            width: 76px;
                            border: none;
                            text-decoration-line: underline;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 12px;
                            background-color:transparent!important;
                            color: #666666;
                            cursor:pointer;
                        }
                        .cancel-btn:hover{
                             color: #F53626;
                             text-decoration-color: #F53626;
                         }
                    }
                }

            }
            }

        }
        }
        #job-list-card:hover{
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        }
        #job-list-card{
            .applied{
                .apply-btn{
                    width:94px;
                    background-color:white;
                    color: #999999;
                    border: 1px solid #d1d1d1;
                }
            }
        }
      }
    }
    #paginator{
        display: block;
    }
}


