/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family:'Montserrat';
	src: url('../src/assets/fonts/Montserrat-Regular.ttf');
  }
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat" !important; }
* {
    box-sizing: border-box;
}

/* SCROLLBAR */
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(32, 32, 32, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:  #e3e3e3;
}

.spinner-custom .mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
}
