
  :host::ng-deep mat-tab-group {
    border-radius: 10px !important;
    margin-top: 24px;
  
    mat-ink-bar {
      background-color: #D52b1e !important;
    }
  }
 
 :host::ng-deep .mat-tab-label .mat-tab-label-content{
    font-size: 18px !important;
    color:#222222 !important;
    font-weight: 500 !important;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
  }

