<mat-tab-group mat-align-tabs="start" >
    <mat-tab label="Follows">
        <app-company-follows-apply-job></app-company-follows-apply-job>
    </mat-tab>
    <mat-tab label="Applications">
        <app-applications></app-applications>
    </mat-tab>
  </mat-tab-group>
