<!-- FIRST PAGE PREVIEW -->
<div class="resume" [hidden]="_appService.isShow">

    <p>You have <span>{{resumesLength && resumesLength.length ? resumesLength.length + ' resumes': '0 resume'}}</span>
    </p>

    <div class="box" (click)="openDialog()" *ngIf="resumesLength && resumesLength.length > 0">
        <mat-icon>recent_actors</mat-icon>
        <button>Choose resume</button>
    </div>

    <div class="box" (click)="showForm(); refreshForm(); isNewResume = true">
        <mat-icon>add</mat-icon>
        <button>Create New</button>
    </div>
</div>

<mat-icon class="back-icon" *ngIf="_appService.isShow" (click)="showAllResumes()" matTooltip="Back">arrow_back
</mat-icon>

<!-- SECOND PAGE PREVIEW / EMPTY FORM -->
<form class="wrapper" [formGroup]="resumeForm" [hidden]="_appService.isShowForm">
    <div class="header">
        <div class="filewraps">
            <img *ngIf="isImgSelected" [src]="imgPreviewSrc" class="profile-img">
            <img *ngIf="!isImgSelected" src="../../../assets/images/empty-user.jpg" class="profile-img">
            <mat-icon id="edit-photo">edit</mat-icon>
            <input type="file" (change)="showPreviews($event)" formControlName="profilePicture">
        </div>
        <div class="name">
            <input type="text" placeholder="Teacher Eva" id="name" formControlName="name">
            <span>
                <mat-icon id="edit">edit</mat-icon>
            </span>
        </div>
        <div class="email">
            <input type="email" placeholder="liyi6601@naver.com" id="email" formControlName="email">
            <span>
                <mat-icon id="edit">edit</mat-icon>
            </span>
        </div>
    </div>
    <div class="introduction">
        <h2>Introduction</h2>
        <textarea name="" id="" cols="30" rows="10" class="input-style" placeholder="Input text" #titleInput
            formControlName="introduction"></textarea>
        <div class="filters">
            <ul>
                <li *ngFor="let tag of tags" class="tooltip">
                    <span class="tooltiptext">select tags text</span>
                    <label for="{{ tag.id }}">{{ tag.name }}<input type="checkbox" [name]="tag.name" [id]="tag.id"
                            [value]="tag.name" (change)="onCheck(tag.name)" /></label>
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience -->
    <div class="experence">
        <h2>Experence</h2>

        <div *ngFor="let experenceGroup of resumeForm.get('experence')['controls'];let i = index"
            [formGroup]="experenceGroup">
            <!-- if group saved, show previev design -->
            <div *ngIf="experenceGroup.value.isSaved == false">

                <span class="filewrap" *ngIf="!experenceGroup.value.logo">
                    upload logo
                    <mat-icon class="arrow">arrow_circle_up</mat-icon>
                    <input type="file" (change)="uploadLogoExperience($event, i)">
                </span>

                <div class="section-logo-holder" *ngIf="experenceGroup.value.logo">
                    <img class="section-logo" *ngIf="experenceGroup.value.logo" [src]="experenceGroup.value.logo">
                    <mat-icon class="edit-logo" (click)="expLogo.click()">edit</mat-icon>
                    <input type="file" class="d-none" (change)="uploadLogoExperience($event, i)" #expLogo>
                </div>

                <input class="input-style" type="text" placeholder="title" formControlName="expTitle" required>
                <select class="input-style" name="city-country" formControlName="country" required>
                    <option value="" disabled hidden>city, country</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="USA">USA</option>
                </select>
                <div class="year">
                    <div>
                        <div class="yr-small">
                            <input type="number" placeholder="0" formControlName="expYearStart" min="1950" max="2022"
                                required>
                        </div>
                        <span>-</span>
                        <div class="yr-small">
                            <input type="number" placeholder="0" formControlName="expYearEnd" min="1950" max="2022"
                                required>
                        </div>
                    </div>
                </div>
                <input class="input-style" type="text" placeholder="organization" formControlName="expOrganization"
                    required>
                <div class="upload-photo">
                    <mat-icon class="delete" *ngIf="experenceGroup.value.expCertificate" (click)="removeImg(i)">delete
                    </mat-icon>
                </div>
                <span class="filewrap ml-25 pointer" *ngIf="experenceGroup.value.expCertificate"
                    [matTooltip]="experenceGroup.value.expCertificate">
                    <mat-icon class="arrow" [style.left.px]="-25">check_circle</mat-icon>
                    <span class="pointer">Certificate uploaded</span>
                    <input type="file" (change)="showPreview($event, i)">
                </span>

                <span class="filewrap" *ngIf="!experenceGroup.value.expCertificate">
                    upload Certificates
                    <mat-icon class="arrow">arrow_circle_up</mat-icon>
                    <input type="file" (change)="showPreview($event, i)">
                </span>

                <div class="buttons">
                    <button class="wht-btn" (click)="deleteExperencePreview(i)">Delete</button>
                    <button class="blck-btn" [disabled]="experenceGroup.invalid"
                        [ngClass]="experenceGroup.invalid ? 'blck-btn-disabled' : 'blck-btn'"
                        (click)="addExperencePreview(i)">Save</button>
                </div>
            </div>

            <!-- if group not saved, show form design -->
            <div *ngIf="experenceGroup.value.isSaved == true">
                <div class="card-wrapper">
                    <img class="school" [src]="experenceGroup.value.logo">
                    <div class="card-text">
                        <h5>{{experenceGroup.value.expTitle}}</h5>
                        <p class="muted">{{experenceGroup.value.country}}</p>
                        <p class="muted" *ngIf="experenceGroup.value.expYearStart || experenceGroup.value.expYearEnd">
                            {{experenceGroup.value.expYearStart}}-{{experenceGroup.value.expYearEnd}}</p>
                        <p>{{experenceGroup.value.expOrganization}}</p>
                        <p class="uploaded" *ngIf="experenceGroup.value.expCertificate">
                            <mat-icon class="arrow">check_circle</mat-icon>
                            <span>Certificate Uploaded</span>
                        </p>

                        <button class="blck-btn remove-btn" (click)="deleteExperencePreview(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="add" (click)="addNewExperenceGroup()">+ Experence</p>

    <!-- Education -->
    <div class="education">
        <h2>Education</h2>

        <div *ngFor="let educationGroup of resumeForm.get('education')['controls'];let i = index"
            [formGroup]="educationGroup">
            <!-- if group saved, show previev design -->
            <div *ngIf="educationGroup.value.isSaved == false">

                <span class="filewrap" *ngIf="!educationGroup.value.logo">
                    upload logo
                    <mat-icon class="arrow">arrow_circle_up</mat-icon>
                    <input type="file" (change)="uploadLogoEducation($event, i)">
                </span>

                <img class="section-logo" *ngIf="educationGroup.value.logo" [src]="educationGroup.value.logo">

                <input class="input-style" type="text" placeholder="title" formControlName="eduTitle">
                <div class="year">
                    <div>
                        <div class="yr-small">
                            <input type="number" placeholder="0" formControlName="eduYearStart" min="1950" max="2022">
                        </div>
                        <span>-</span>
                        <div class="yr-small">
                            <input type="number" placeholder="0" formControlName="eduYearEnd" min="1950" max="2022">
                        </div>
                    </div>
                </div>
                <input class="input-style" type="text" placeholder="organization" formControlName="eduOrganization">
                <div class="upload-photo">
                    <mat-icon class="delete" *ngIf="educationGroup.value.eduCertificate" (click)="removeImg1(i)">delete
                    </mat-icon>
                </div>

                <span class="filewrap ml-25 pointer" *ngIf="educationGroup.value.eduCertificate"
                    [matTooltip]="educationGroup.value.eduCertificate">
                    <mat-icon class="arrow" [style.left.px]="-25">check_circle</mat-icon>
                    <span class="pointer">Certificate uploaded</span>
                    <input type="file" (change)="showPreview1($event, i)">
                </span>

                <span class="filewrap" *ngIf="!educationGroup.value.eduCertificate">
                    upload Certificates
                    <mat-icon class="arrow">arrow_circle_up</mat-icon>
                    <input type="file" (change)="showPreview1($event, i)">
                </span>

                <div class="buttons">
                    <button class="wht-btn" (click)="deleteEducationPreview(i)">Delete</button>
                    <button class="blck-btn" [disabled]="educationGroup.invalid"
                        [ngClass]="educationGroup.invalid ? 'blck-btn-disabled' : 'blck-btn'"
                        (click)="addEducationPreview(i)">Save</button>
                </div>
            </div>

            <!-- if group not saved, show form design -->
            <div *ngIf="educationGroup.value.isSaved == true">
                <div class="card-wrapper">
                    <img class="school" [src]="educationGroup.value.logo">
                    <div class="card-text">
                        <h5>{{educationGroup.value.eduTitle}}</h5>
                        <p class="muted" *ngIf="educationGroup.value.eduYearStart || educationGroup.value.eduYearEnd">
                            {{educationGroup.value.eduYearStart}}-{{educationGroup.value.eduYearEnd}}</p>
                        <p>{{educationGroup.value.eduOrganization}}</p>
                        <p class="uploaded" *ngIf="educationGroup.value.eduCertificate">
                            <mat-icon class="arrow">check_circle</mat-icon>
                            <span>Certificate Uploaded</span>
                        </p>

                        <button class="blck-btn remove-btn" (click)="deleteEducationPreview(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="add" (click)="addNewEducationGroup()">+ Education</p>

    <div class="certificates">
        <h2>Other Certificates</h2>
        <div *ngFor="let certificateGroup of resumeForm.get('certificate')['controls'];let i = index"
            [formGroup]="certificateGroup">
            <!-- if group saved, show previev design -->
            <div *ngIf="certificateGroup.value.isSaved == false">

                <input class="input-style" type="text" placeholder="title" formControlName="cerTitle">
                <div class="upload-photo">

                    <mat-icon class="delete" *ngIf="certificateGroup.value.cerCertificate" (click)="removeImg2(i)">
                        delete</mat-icon>
                </div>
                <span class="filewrap ml-25 pointer" *ngIf="certificateGroup.value.cerCertificate"
                    [matTooltip]="certificateGroup.value.cerCertificate">
                    <mat-icon class="arrow" [style.left.px]="-25">check_circle</mat-icon>
                    <span class="pointer">Certificate uploaded</span>
                    <input type="file" (change)="showPreview2($event, i)">
                </span>

                <span class="filewrap" *ngIf="!certificateGroup.value.cerCertificate">
                    upload Certificates
                    <mat-icon class="arrow">arrow_circle_up</mat-icon>
                    <input type="file" (change)="showPreview2($event, i)">
                </span>

                <div class="buttons">
                    <button class="wht-btn" (click)="deleteCertificatePreview(i)">Delete</button>
                    <button class="blck-btn" [disabled]="certificateGroup.invalid"
                        [ngClass]="certificateGroup.invalid ? 'blck-btn-disabled' : 'blck-btn'"
                        (click)="addCertificatePreview(i)">Save</button>
                </div>
            </div>

            <!-- if group not saved, show form design -->
            <div class="card-wrapper" *ngIf="certificateGroup.value.isSaved == true">
                <div class="card-text">
                    <h5>{{certificateGroup.value.cerTitle}}</h5>
                    <p class="uploaded" *ngIf="certificateGroup.value.cerCertificate">
                        <mat-icon class="arrow">check_circle</mat-icon>
                        <span>Certificate Uploaded</span>
                    </p>
                    <button class="blck-btn remove-btn" (click)="deleteCertificatePreview(i)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <p class="add" (click)="addNewCertificateGroup()">+ Certificate</p>

    <div class="bottom-btn">
        <button [disabled]="resumeForm.invalid" [ngClass]="resumeForm.invalid ? 'white-btn-disabled' : 'white-btn'"
            (click)="saveForm(); showResume()">continue</button>
    </div>
</form>

<!-- THIRD PAGE PREVIEW / FILLED UP FORM -->
<div class="resume-wrapper" [hidden]="_appService.isShowResume">
    <header>
        <img class="profile-picture" *ngIf="isImgSelected" [src]="imgPreviewSrc">
        <div class="name">
            <h5>{{profile.fullname}}</h5>
            <p>{{profile.email}}</p>
        </div>
    </header>
    <div class="introduction">
        <h2>Introduction</h2>
        <p>{{resume.intro}}</p>
        <div class="filters">
            <ul>
                <li *ngFor="let element of checkedTags">
                    {{ element }}
                </li>
            </ul>
        </div>
    </div>
    <div class="experence" *ngFor="let element of resume.sections">
        <h2 *ngIf="element.subject == 'Experience'">{{element.subject}}</h2>
        <div class="card-wrapper">
            <img class="school" [src]="element.context.logo" *ngIf="element.subject != 'Certificates'">
            <div class="card-text">
                <h5>{{element.context.dept}}</h5>
                <p class="muted">{{element.context.location}}</p>
                <p class="muted">{{element.context.years}}</p>
                <p>{{element.context.desc}}</p>
                <p class="uploaded" *ngIf="element.context.file_links">
                    <mat-icon class="arrow">check_circle</mat-icon>
                    <span>Certificate Uploaded</span>
                </p>
            </div>
        </div>
    </div>
    <div class="education" *ngFor="let element of resume.sections">
        <h2 *ngIf="element.subject == 'Education'">{{element.subject}}</h2>
        <div class="card-wrapper">
          <img class="school" [src]="element.context.logo" *ngIf="element.subject != 'Certificates'">
            <div class="card-text">
                <h5>{{element.context.dept}}</h5>
                <p class="muted">{{element.context.years}}</p>
                <p>{{element.context.desc}}</p>
                <p class="uploaded" *ngIf="element.context.file_links">
                    <mat-icon class="arrow">check_circle</mat-icon>
                    <span>Certificate Uploaded</span>
                </p>
            </div>
        </div>
    </div>
    <div class="certificates" *ngFor="let element of resume.sections">
        <h2 *ngIf="element.subject == 'Certificates'">{{element.subject}}</h2>
        <div class="card-wrapper">
          <img class="school" [src]="element.context.logo" *ngIf="element.subject != 'Certificates'">
            <div class="card-text">
                <h5>{{element.context.dept}}</h5>
                <p class="uploaded" *ngIf="element.context.file_links">
                    <mat-icon class="arrow">check_circle</mat-icon>
                    <span>Certificate Uploaded</span>
                </p>
            </div>
        </div>
    </div>
    <div class="btm-btn">
        <button id="wht-btn" (click)="openDialogDelete()">Delete resume</button>
        <button id="red-btn" (click)="saveResume()">Save</button>
        <!-- <button id="red-btn" (click)="showForm()">Edit</button> -->
    </div>
</div>