@media (max-width: 768px) {
    .wrapper {
        margin: 40px 16px !important;

        .header {
            justify-content: center !important;
            flex-direction: column !important;
        }
    }

    .resume-wrapper {
        margin-top: 40px !important;
        padding: 0 16px !important;

        header {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;

            .profile-picture {
                margin: 16px auto !important;
            }

            .name {
                justify-content: center !important;
                align-items: center !important;
            }

        }
    }
}

// FIRST PAGE PREVIEW
.resume {
    margin: 80px 0 0 80px;
    height: calc(100vh - 290px);

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #666666;

        span {
            color: #D52B1E;
        }
    }

    .box {
        margin: 32px 0 35px;
        width: 166px;
        height: 48px;
        background: #ffffff;
        border-radius: 24px;
        border: 1px solid #D52B1E;
        color: #D52B1E;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        button {
            height: unset;
            border: none;
            margin: 0;
            background-color: transparent;
            color: #D52B1E;
            font-size: 14px;
        }
    }
}

// SECOND PAGE PREVIEW / EMPTY FORM
.wrapper {
    margin: 80px 275px;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #f4f4f4;
        width: 100%;
        padding-bottom: 24px;
        flex-wrap: wrap;

        input {
            border: none;
            max-width: 115px;
            color: #333333;
        }

        .filewraps {
            position: relative;
            display: inline-block;
            margin: 10px 0 40px 0;
            height: 100px;
            width: 100px;
            background-color: #f4f4f4;
            border-radius: 50%;

            input[type="file"] {
                width: 100%;
                height: 100%;
                position: absolute;
                top: -20px;
                right: 5px;
                opacity: 0;
                cursor: pointer;
            }

            .profile-img {
                display: block;
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }

            #edit-photo {
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                background-color: #222222;
                color: #ffffff;
                font-size: 20px;
            }
        }

        .name {
            display: flex;
            flex-wrap: nowrap;

            #name {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #333333;
                display: inline-block;
                margin-left: 16px;
            }
        }

        #edit {
            font-size: 16px;
            color: #222222;
            margin-right: 16px;
        }

        .email {
            display: flex;
            flex-wrap: nowrap;

            #email {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #333333;
                display: inline-block;
            }
        }

    }

    .input-style {
        width: 100%;
        border-radius: 8px;
        height: 56px;
        padding: 15px 20px;
        font-size: 14px;
        line-height: 17px;
        border: 1px solid #E3E3E3;
        color: #999999;
        margin-bottom: 16px;
    }

    input:focus {
        outline: none !important;
        border: 1px solid #222222;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    .introduction {
        margin-top: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f4f4f4;

        textarea {
            height: 120px;
        }

        textarea:focus {
            outline: none !important;
            border: 1px solid #222222;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        .filters {
            display: flex;

            ul {
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                .tooltip {
                    position: relative;
                    display: inline-block;
                }

                .tooltip .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    height: 25px;
                    background-color: #222222;
                    opacity: 0.8;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 130%;
                    left: 50%;
                    margin-left: -60px;
                }

                .tooltip .tooltiptext::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #222222 transparent transparent transparent;
                }

                .tooltip:hover .tooltiptext {
                    visibility: visible;
                }

                li {
                    margin-right: 8px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    label {
                        cursor: pointer;
                        height: 32px;
                        border-radius: 16px;
                        background-color: #fafafa;
                        color: #333333;
                        padding: 8px 12px;
                        border: none;
                        display: flex;
                        align-items: center;
                    }

                    input {
                        accent-color: #d52b1e;
                        appearance: none;
                        outline: none;
                    }

                    input:checked {
                        appearance: auto;
                        outline: none;
                    }

                    input:checked:after {
                        outline: none;
                        appearance: none;
                    }
                }
            }
        }
    }

    .experence {
        margin-top: 40px;
        border-bottom: 1px solid #f4f4f4;

        select {
            color: #333333 !important;
        }

        select:focus {
            outline: none !important;
            border: 1px solid #222222;
        }
    }

    .year {
        display: flex;
        flex-direction: column;
        width: 100%;

        div {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }

        .yr-small {
            display: block;

            input {
                border-radius: 8px;
                border: 1px solid #E3E3E3;
                padding: 10px;
                height: 56px;
            }

            input:focus {
                outline: none !important;
                border: 1px solid #222222;
            }
        }

        span {
            margin: 0px 20px;
        }
    }

    .buttons {
        display: flex;
        justify-content: end;
        margin: 0 0 24px 0;
    }

    .blck-btn {
      background: #222222;
      border-radius: 24px;
      color: #FFFFFF;
      width: 166px;
      height: 48px;
      border: none;
      cursor: pointer;
      margin-left: 12px;
  }

  .blck-btn-disabled {
      background: #5c5c5c;
      border-radius: 24px;
      color: #FFFFFF;
      width: 166px;
      height: 48px;
      border: none;
      cursor: default !important;
      margin-left: 12px;
  }

  .wht-btn {
      background-color: #fafafa;
      border-radius: 24px;
      color: #333333;
      width: 165px;
      height: 48px;
      border: 1px solid #f4f4f4;
      cursor: pointer;
  }

    .upload-photo {
        position: relative;
        display: inline-block;

        .delete {
            display: inline-block;
            color: #ffffff;
            position: absolute;
            top: 45%;
            left: 45%;
            cursor: pointer;
        }
    }

    .file-img {
      display: block;
      height: 200px;
      margin-bottom: 10px;
    }

    .filewrap {
        width: 200px;
        height: 17px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #00B881;
        position: relative;
        display: block;
        margin: 10px 0 40px 0;

        input[type="file"] {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

        .arrow {
            position: absolute;
            top: -2px;
        }
    }

    .add {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #D52B1E;
        margin-top: 16px;
        cursor: pointer;
    }

    .education {
        border-bottom: 1px solid #f4f4f4;
        padding-top: 30px;
    }

    .certificates {
        padding-bottom: 28px;
        border-bottom: 1px solid #f4f4f4;
        padding-top: 30px;
    }

    .bottom-btn {
        display: flex;
        justify-content: center;
        padding-top: 30px;

        .white-btn {
            width: 165px;
            height: 48px;
            border-radius: 24px;
            background-color: #ffffff;
            border: 1px solid #222222;
            color: #222222;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }

        .white-btn-disabled {
          width: 165px;
          height: 48px;
          border-radius: 24px;
          background-color: #ffffff;
          border: 1px solid #959595;
          color: #959595;
          font-size: 14px;
          cursor: default !important;
          font-weight: 500;
        }
    }
}

// THIRD PAGE PREVIEW / FORM COMPLETED
.resume-wrapper {
    padding: 0 275px;

    header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 24px;
        margin-top: 80px;

        .profile-picture {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 90% 70%;
        }

        .name {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            align-items: flex-start;
            justify-content: center;

            h5 {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #333333;
            }

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #333333;
                margin-bottom: 0;
            }

        }
    }

    .introduction {
        border-bottom: 1px solid #f4f4f4;
        margin-top: 40px;

        h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #222222;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
        }

        .filters {
            ul {
                padding: 0;
                list-style: none;
                display: flex;

                li {
                    margin-right: 8px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 32px;
                    border-radius: 16px;
                    background-color: #fafafa;
                    color: #333333;
                    padding: 8px 12px;
                    border: none;
                }
            }
        }
    }

    .experence {
        margin-top: 40px;
        border-bottom: 1px solid #f4f4f4;

        h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #222222;
        }
    }

    .certificates {
        border-bottom: 1px solid #f4f4f4;
        margin-top: 40px;

        h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #222222;
        }

        .arrow {
            color: #00B881;
        }

        .uploaded {
            position: relative;
        }

        span {
            color: #00B881;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            position: absolute;
            top: 15%;
            margin-left: 4px;
        }
        .card-text {
            margin-left: 0px!important;
        }
    }

    .btm-btn {
        margin: 64px 0 100px 0;
        display: flex;
        justify-content: center;
        #red-btn {
            background: #d52b1e;
            border-radius: 24px;
            color: #FFFFFF;
            width: 166px;
            height: 48px;
            border: none;
            cursor: pointer;
        }
        #wht-btn {
            background-color: #Fafafa;
            border-radius: 24px;
            color: #666666;
            width: 165px;
            height: 48px;
            border: 1px solid #f4f4f4;
            cursor: pointer;
        }
    }
}

.card-wrapper {
  display: flex;
  flex-direction: row;

  .school {
      display: flex;
      height: 48px;
      width: 48px;
      background-color: #f4f4f4;
      border-radius: 8px;
      color: #e3e3e3;
      font-size: 32px;
      align-items: center;
      justify-content: center;
  }

  .card-text {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      border-bottom: 1px solid #f4f4f4;
      margin-bottom: 20px;
      width: 100%;
      position: relative;

      h5 {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #333333;
      }

      .muted {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #666666;
      }

      p {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #333333;
      }

      .arrow {
          color: #00B881;
      }

      .uploaded {
          position: relative;
      }

      span {
          color: #00B881;
          font-weight: 300;
          font-size: 12px;
          line-height: 15px;
          position: absolute;
          top: 15%;
          margin-left: 4px;
      }
  }
}

.card-text {
  float: right;
}

.float-l {
  float: left;
}

.remove-btn {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.back-icon {
  position: absolute;
  top: 100px;
  left: 20px;
  cursor: pointer;
  z-index: 99;
}

.ml-25 {
  margin-left: 25px !important;
}

input::file-selector-button {
  width: 200px !important;
  cursor: pointer;
}

.section-logo-holder {
  width: 70px;
  height: 70px;
  margin: 10px;
  position: relative;
}

.section-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.d-none {
  display: none !important;
}

.edit-logo {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  font-size: 18px;
  padding: 2px;
  cursor: pointer;
}
