<div class="container-list">
    <div id="src">
        <div id="src-btn">
            <button id="search-btn">
                <mat-icon class="src-icon">search</mat-icon>
                <input type="search" id="job-search" name="search" placeholder="search jobs">
            </button>
        </div>
    </div>
<!--Ovde moze i so chips with input (x) -->
    <div id="btn-english">
        <div id="btn-wrapper">
            <div id="btns">
                <button id="btn-english-x">IELTS<mat-icon id="x">highlight_off</mat-icon></button>
                <button class="btn-english">TEFL certificate</button>
                <button class="btn-english">kid's courses</button>
                <button class="btn-english">kid's phonics</button>
                <button class="btn-english">systematic learning</button> 
                <button class="btn-english">TOEFL ITP</button>
                <button class="btn-english">GEPT high-imtermediate</button>
                <button class="btn-english">business english</button>
                <button class="btn-english">interviews</button>
            </div>
            <div id="loop">
                <mat-icon class="loop"(click)="refresh()">loop</mat-icon>
            </div>
        </div>
    </div>
    <div id="teacher-list">
        <div id="content">
           <div id="teachers" >
          <div id="card-holder" class="scrollbar">
            <div id="teacher-list-card" *ngFor="let resume of resumes; let i = index">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text" (click)="showDetails(resumes, i)">
                    <p class="title">{{resume.intro}}</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart"(click)="show1=!show1">
                        <span class="heart"><mat-icon class="favorite"*ngIf="!show1">favorite</mat-icon></span>
                        <span class="heart"><mat-icon class="favorite-red"*ngIf="show1">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <!-- <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div>
            <div id="teacher-list-card">
                <div id="avatar">
                    <img class="teacher-logo" src="../../../assets/images/school4.png">
                </div>
                <div id="teacher-list-text">
                    <p class="title">Teacher Eva Text</p>
                    <p class="experience">8yrs teaching experience native english speaker TEFL certified with 4years experience..</p>
                    <div id="span-heart">
                        <span class="heart"><mat-icon class="favorite">favorite</mat-icon></span>
                    </div>  
                </div>
            </div> -->
          </div>
          <div class="teacher-holder">
                <app-teachers-detail></app-teachers-detail>
          </div>
         </div> 
        </div>
    </div>
</div>

