.container-list{
    margin: 20px 20px 0 20px;
    padding: 36px;
    #src{
        display: block;
        #src-btn{
            display: flex;
            justify-content: end;
        
            #search-btn{
                padding: 0;
                float:right;
                background-color: white;
                box-shadow: rgba(20, 20, 85, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
                border-radius: 24px;
                width: 343px;
                height: 48px;
                cursor: pointer;
                border: none;
                position: relative;
                
                .src-icon{
                    position: absolute;
                    top: 12px;
                    left: 17px;
                    height: 16px;
                    width: 16px;
                }
                    #job-search{
                        border: none;
                    }
                    input:focus
                    {
                       outline: none;
                    
                    }
                    input::placeholder{
                        color: #d1d1d1;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    input:focus::placeholder {
                        color: transparent;
                      }
        
        }

    }
}


#btn-english{
    display: block;
    margin: 20px 0;
    #btn-wrapper{
        display: flex;
        justify-content: space-between;
        #btns{
            #btn-english-x{
                height: 32px;
                width: 84px;
                border-radius: 16px;
                background-color:#fafafa ;
                border: 1px solid #f4f4f4;
                margin: 6px 4px;
                text-align: start;
                position: relative;
                #x{
                 font-size: 16px;
                    color: #E3E3E3;
                    user-select: none;
                    background-repeat: no-repeat;
                    display: inline-block;
                    fill: currentColor;
                    height: 16px;
                    width: 16px;
                    position: absolute;
                    bottom: 7px;
                    right: 9px;
                    cursor:pointer;
                }  
            }
            // #btn-english-x:hover{
            //     background-color: #FAFAFA;
            //    }
            .btn-english{
                height: 32px;
                width: fit-content;
                border-radius: 16px;
                background-color:white ;
                border: 1px solid #f4f4f4;
                margin: 6px 4px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #222222;
                }
                .btn-english:hover{
                    background-color: #FAFAFA;
                   }
       }
       #loop{
        .loop{
            cursor: pointer;
            color: #222222;
            width: 16px;
            height: 22px;
        }
       margin-top: 16px;
       margin-right: 4px;
    }
    }
        }
    
    }


#teacher-list{
    display: block;
  //  background-color: burlywood;
    #content{
        flex: auto;
        display: flex;
        #teachers{
            flex: auto;
            display: flex;
            // overflow-y: scroll; 
            #card-holder{
                flex: 2;
                #teacher-list-card{
                    display: flex;
                    flex:auto;
                    #avatar{
                        flex: 1;
                        padding: 16px 0px 16px 16px;
                        .teacher-logo{
                            width: 72px;
                            height: 72px;
                            border-radius: 50%;
                            margin-top: 12px;
                        }
                    }
                    #teacher-list-text{
                        flex: 6; 
                       // border-top: 1px solid #E3E3E3;
                        border-bottom: 1px solid #E3E3E3;
                        padding: 16px;
                        .title{
                            margin: 0 0 24px 0;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            text-transform: capitalize;
                            color: #333333;
                            cursor: pointer;
                        }
                        .experience{
                            margin:0 0 7px 0;
                            text-align: left;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #333333;
                        }

                        #span-heart{
                            position: relative;

                            .heart{
                                position: absolute;
                                bottom: 63px;
                                right: -12px;
                                .favorite{
                                    color:#f4f4f4;
                                    /* fill: transparent; */
                                    -webkit-text-fill-color: transparent;
                                    -webkit-text-stroke: 2px;
                                    margin-left: 24px;
                                }
                                // .favorite{
                                //     &:hover {
                                //       color:#D52B1E;
                                //       -webkit-text-fill-color: #D52B1E;
                                //     }
                                //   }
                                .favorite-red{
                                    color: #D52B1E;
                                    /* fill: transparent; */
                                    -webkit-text-fill-color: #D52B1E;
                                    -webkit-text-stroke: 2px;
                                     //za border na zvezdata
                                   // -webkit-text-stroke:thin;
                                    margin-left: 24px;
                                    
                                    cursor: pointer; 
                                }
                            }
                        }

                    }
                }
                #teacher-list-card:hover{
                    border-left: 2px solid #D52B1E;
                    background-color: rgb(253, 235, 238);
    
                }
            }

            .teacher-holder { 
             flex: 5;
            }
           
        }

    }
}




.scrollbar{
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
